{% extends "kwbase/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="review-all">
    <div class="review-detail-head">
      <div>
        <!-- 제목 -->
          <div class="review-detail-title">
            <h1>{{ review.title }}</h1>
            <div class="review-detail-title-icons">
              <div class="review-detail-hits">
                <i class="bi bi-eye-fill"></i>{{ review.hits }}
              </div>
              <div class="review-detail-hits">
                <i class="bi bi-heart-fill hits-icon"></i>
                <div class="likes">{{ review.like_users.count }}</div>
              </div>
            </div>
          </div>
        <div class="review-detail-name-date">
          <p>{{ review.keyboard.name }}</p>
        </div>
      </div>
        <div>
          <!-- 작성자 프로필 -->
          <a href="{% url 'accounts:detail' review.user.id %}">
            <div class="review-detail-user">
              {% if review.user.is_social == 0 %}
                {% if review.user.image %}
                <img src="{{ review.user.image.url }}">
                {% else %}
                <img src="{% static 'images/logo_png.png' %}">
                {% endif %}
              {% else %}
                {% if review.user.image %}
                <img src="{{ review.user.image }}">
                {% else %}
                <img src="{% static 'images/logo_png.png' %}">
                {% endif %}
              {% endif %}
              <p>{{ review.user }}</p>
            </div>
          </a>

          <p class="reviews-created-at">{{ review.created_at }}</p>
        </div>
      </div>



    <div>
      {% if photos %}
        {% for photo in photos %}
          <img class="review-image" src="{{ photo.image.url }}">
        {% endfor %}
      {% endif %}
      <div class="review-content">
        {{ review.content }}
      </div>
    </div>
    <div class="likebook">
      <!--좋아요-->
      {% if request.user.is_authenticated %}
      <div class="heart">
          {% if request.user not in review.like_users.all %}
          <i data-like-id="{{ review.pk }}" id="like-btn" class="bi bi-heart article-heart"></i>
          {% else %}
          <i data-like-id="{{ review.pk }}" id="like-btn" class="bi bi-heart-fill article-heart-fill"></i>
          {% endif %}
          <p>{{ review.like_users.count }}</p>
      </div>
      {% endif %}
      <!--리뷰 수정,삭제 버튼-->
      <div>
        {% if request.user == review.user %}
          <div class="reviews-update-delete">
            <a class="reviews-update" href="{% url 'reviews:update' review.pk %}">수정하기</a>
            <a class="reviews-delete" href="{% url 'reviews:delete' review.pk %}">삭제하기</a>
          </div>
        {% endif %}
        </div>
    </div>

      {% if request.user.is_authenticated %}
        <div class="commentform-wrap">
          <div class="commentform-trade">
            <form id="comment-form" data-review-id="{{ review.pk }}" action="{% url 'reviews:comment_create' review.pk %}" method="POST">
              {% csrf_token %}
              <input data-testid="input-box" name="content" placeholder="댓글을 작성해주세요" type="text" required="" class="tradecomment-create" value="" autocomplete="off">
              <input class="btn btn-dark tradecomment-input" type="submit" value="제출">
            </form>
          </div>
          <hr class="comment-hr">
        </div>
      {% endif %}

        
        <div id="comments">
              {% for comment in comments %}
              <div class='comment'>
                  <div class="keyboard-comment">
                    <!-- 소셜 계정일 때와 이미지가 있을 때 if문 분기 -->
                    {% if comment.user.is_social == 0 %}
                      <a href="{% url 'accounts:detail' comment.user.pk %}">
                        {% if comment.user.image %}
                        <img class="comment-profile-img" src="{{ comment.user.image.url }}">
                        {% else %}
                        <img class="comment-profile-img" src="{% static 'images/logo_png.png' %}">
                      </a>
                    {% endif %}
                    {% else %}
                      <a href="{% url 'accounts:detail' comment.user.pk %}">
                        {% if comment.user.image %}
                        <img class="comment-profile-img" src="{{ comment.user.image }}">
                        {% else %}
                        <img class="comment-profile-img" src="{% static 'images/logo_png.png' %}">
                        {% endif %}
                      </a>
                    {% endif %}

                    <div class="keyboard-comment-box">
                      <a href="{% url 'accounts:detail' comment.user.pk %}">
                        <p class="keyboard-comment-user">{{comment.user}}</p>
                      </a>
                        {% if request.user not in comment.like_users.all %}
                          <i class="bi bi-heart" onclick="likecomment(this)" data-review-id="{{ review.pk }}" data-comment-id="{{ comment.pk }}" id="commentlike"></i>
                        {% else %}
                          <i class="bi bi-heart-fill" onclick="likecomment(this)" data-review-id="{{ review.pk }}" data-comment-id="{{ comment.pk }}" id="commentlike"></i>
                        {% endif %} 
                        {% if request.user == comment.user %}
                          <button class="comment-delete-btn" onclick="delete_comment(this)" id="comment-delete-{{ comment.pk }}" data-reviewdel-id="{{ review.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</button>
                        {% endif %}
                      <div>{{comment.content}}</div>
                    </div>
                  </div>
              </div>  
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/reviews/detail.js' %}"></script>
      <!-- <script>
        // 비동기 북마크
        const bookmarkBtn = document.querySelector('#bookmark-btn')
        // querySelector(#bookmark-btn) => id 값 bookmark-btn를 가진 요소를 찾습니다.
        bookmarkBtn.addEventListener('click', function (event) {
        console.log(event.target.dataset)
        // 버튼 클릭 시, e라는 함수 이벤트가 발생. dataset을 불러옴.
        axios({method: 'get', url: `/reviews/${event.target.dataset.bookmarkId}/bookmark/`}).then(response => {
            console.log(response.data)
            if (response.data.isBookmark === true) {
            // isBookmark = context에서 선언해준 isBookmark
            event
                .target
                .classList
                .add('bi-bookmark-check-fill')
                .add('jjim')
            event
                .target
                .classList
                .remove('bi-bookmark-check')
                .remove('no-jjim')
            console.log('관심찜')
            } else {
            event
                .target
                .classList
                .remove('bi-bookmark-check-fill')
                .remove('jjim')
            event
                .target
                .classList
                .add('bi-bookmark-check')
                .add('no-jjim')

            console.log('관심없음')
            }
        })
        })
    </script> -->
    <script>
              //댓글 생성 비동기
              const commentForm = document.querySelector('#comment-form')
        const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        commentForm
        .addEventListener('submit', function (event) {
            event.preventDefault();
            axios({
            method: 'post',
            url: `/reviews/${event.target.dataset.reviewId}/comment_create/`,
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: new FormData(commentForm)
            })
            .then(response => {
                console.log(response)
                const comments = document.querySelector('#comments')
                comments.textContent = "";
                const hr = document.createElement('hr')
                const comment_data = response.data.comment_data
                const user = response.data.user
                for (let i = 0; i < comment_data.length; i++) {
                  const review_pk = response.data.review_pk
                  console.log(comment_data[i].id, user)
                  // 프로필 이미지
                  let profile_src = "";
                  if (comment_data[i].image) {
                    if (comment_data[i].is_social === 0) {
                      profile_src = `/media/${comment_data[i].image}/`;
                    }
                    else {
                      profile_src = `/${comment_data[i].image}/`;
                    }
                  }
                  else {
                    profile_src = `{% static 'images/logo_png.png' %}`;
                  }

                  // 내가 좋아요를 누른 댓글이면
                  let like = "";
                  if (comment_data[i].islike) {
                    like = "bi-heart-fill";
                  }
                  else {
                    like = "bi-heart";
                  }

                  // 내가 댓글 작성자면
                  let writer = "";
                  if(user === comment_data[i].id) {
                    writer = `<button class="comment-delete-btn" onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-reviewdel-id="{{ review.pk }}" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>`
                  }

                  let html = `
                    <div class="comment">
                      <div class="keyboard-comment">
                    
                        <a href="/accounts/${comment_data[i].id}/detail">
                        <img class="comment-profile-img" src="/${profile_src}/">
                      </a>
                      <div class="keyboard-comment-box">
                        <a href="/accounts/${comment_data[i].id}/detail/">
                          <p class="keyboard-comment-user">${comment_data[i].userName}</p>
                        </a>
                        <i class="bi ${like}" onclick="likecomment(this)" data-review-id="{{ review.pk }}" data-comment-id="${comment_data[i].commentPk}" id="commentlike"></i>
                        ${writer}
                        <div>${comment_data[i].content}</div>
                      </div>
                    </div>
                  </div>`
                  document.querySelector('#comments').insertAdjacentHTML('beforeend', `${html}`)
                } commentForm.reset()
            }).catch(console.log(1))
        })

        // 댓글 삭제 비동기
        const delete_comment = (e) => {
        const comment_id = document.querySelector(`#${e.id}`)
            .id;
        axios({
            method: 'post',
            url: `/reviews/${event.target.dataset.reviewdelId}/comment_delete/${event.target.dataset.commentdelId}/delete/`,
            headers: {
            'X-CSRFToken': csrftoken
            }
        }).then(response => {
            console.log(response)
            const comments = document.querySelector('#comments')
            comments.textContent = "";
            const hr = document.createElement('hr')
            const comment_data = response.data.comment_data
            const user = response.data.user
            for (let i = 0; i < comment_data.length; i++) {
              const review_pk = response.data.review_pk
                  console.log(comment_data[i].id, user)
                  // 프로필 이미지
                  let profile_src = "";
                  if (comment_data[i].image) {
                    if (comment_data[i].is_social === 0) {
                      profile_src = `/media/${comment_data[i].image}/`;
                    }
                    else {
                      profile_src = `/${comment_data[i].image}/`;
                    }
                  }
                  else {
                    profile_src = `{% static 'images/logo_png.png' %}`;
                  }

                  // 내가 좋아요를 누른 댓글이면
                  let like = "";
                  if (comment_data[i].islike) {
                    like = "bi-heart-fill";
                  }
                  else {
                    like = "bi-heart";
                  }

                  // 내가 댓글 작성자면
                  let writer = "";
                  if(user === comment_data[i].id) {
                    writer = `<button class="comment-delete-btn" onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-reviewdel-id="{{ review.pk }}" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>`
                  }

                  let html = `
                    <div class="comment">
                      <div class="keyboard-comment">
                    
                        <a href="/accounts/${comment_data[i].id}/detail/">
                        <img class="comment-profile-img" src="/${profile_src}/">
                      </a>
                      <div class="keyboard-comment-box">
                        <a href="/accounts/${comment_data[i].id}/detail/">
                          <p class="keyboard-comment-user">${comment_data[i].userName}</p>
                        </a>
                        <i class="bi ${like}" onclick="likecomment(this)" data-review-id="{{ review.pk }}" data-comment-id="${comment_data[i].commentPk}" id="commentlike"></i>
                        ${writer}
                        <div>${comment_data[i].content}</div>
                      </div>
                    </div>
                  </div>`
                  document.querySelector('#comments').insertAdjacentHTML('beforeend', `${html}`)
            }
            }
        )
      }
  </script>
  {% endblock body %}
