{% extends "base.html" %}
{% load static %}
{% block body %}


<!-- 제목 -->
<div class="my-container">
  <div class="my-head">
    <h2>사용자들과 경험을 공유하세요</h2>
    <hr>
    <div class="trade-header">
      <p>당신의 경험을 공유해보세요</p>
      <a href="{% url 'reviews:create' %}" class="a-blue">후기 쓰러가기 ></a>
    </div>
  </div>

  <div>


  {% for trade in trades %}
  <p>{%if trade.Trade_type == 1%} 팝니다 {%else%} 삽니다 {%endif%}</p>
  <a href="{% url 'trade:detail' trade.pk %}">
    <p>{{trade.title}}
    </a> |<span style="font-size: 9px;">{{trade.user}}</span></p>
    <hr>
    {%endfor%}
  </div>
</div>
<script src="{% static 'js/articles.js' %}"></script>

  <div class="row">
    {% for review in reviews %}
      <div class="col-4 my-3">
        <div class="card">
          {% if review.img %}
            <img src="{{ review.img.url }}" class="card-img-top" alt="...">
          {% else %}
            <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5>
              <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
            </h5>
            <p class="text-muted">{{ review.user.username }}</p>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock body %}
