{% extends "kwbase/base.html" %}
{% load static %}
{% block body %}


<!-- 제목 -->
<div class="reviews-container">
  <div class="my-head">
    <h2>사용자들과 경험을 공유하세요</h2>
    <hr>
    <div class="trade-header">
      <p>당신의 경험을 공유해보세요</p>
      <a href="{% url 'reviews:create' %}" class="a-blue">후기 쓰러가기 ></a>
    </div>
  </div>

  <!-- 후기 검색창 -->
  <form action="{% url 'reviews:review_search' %}" method="GET" class="review-index-search-form">
    <input type="search" placeholder="후기를 검색해보세요" name="kw">
    <input type="submit" value="검색">
  </form>

  <!-- 검색결과 문구 -->
  <div class="trade-index-search-result">
    {% if search_word %}
    {% if reviews %}
    <h2>검색결과 "{{ search_word }}"를 찾았습니다.</h2>
    {% else %}
    <h2>"{{ search_word }}"에 관한 검색결과가 없습니다.</h2>
    {% endif %}
    {% endif %}

  </div>

  <div class="reviews-index-container">
    {% for review in reviews %}
    <div class="reviews-card">
      <!-- 사진 -->
      <a href="{% url 'reviews:detail' review.pk %}" class="reviews-card-a">
        <div class="reviews-card-img-wrap">
            {% if review.photo_set.all %}
              <img src="{{ review.photo_set.all.0.image.url }}">
            {% else %}
              <img src="{% static 'images/logo_png.png' %}">
            {% endif %}
          <div>+{{ review.photo_set.all.count }}</div>
        </div>
      </a>
        <!-- 콘텐츠 -->
      <a href="{% url 'reviews:detail' review.pk %}" class="reviews-card-content-a">
        <div class="reviews-card-content">
          <div class="card-content">
            <p>{{ review.keyboard.name }}</p>
            <h1>{{ review.title }}</h1>
            <div>{{ review.content }}</div>
          </div>
          <div class="card-footer">
            <p>{{ review.user }}</p>
            <p>댓글{{ review.comment_set.all.count }} 좋아요{{ review.like_users.all.count }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

{% comment %} <div class="row">
    {% for review in reviews %}
      <div class="col-4 my-3">
        <div class="card">
          {% if review.img %}
            <img src="{{ review.img.url }}" class="card-img-top" alt="...">
          {% else %}
            <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
          {% endif %}

          <div class="card-body">
            <h5>
              <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
            </h5>
            <p class="text-muted">{{ review.user.username }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> {% endcomment %}

{% endblock body %}
