{% extends "base.html" %}
{% load static %}
{% block body %}


<!-- 제목 -->
<div class="reviews-container">
  <div class="my-head">
    <h2>사용자들과 경험을 공유하세요</h2>
    <hr>
    <div class="trade-header">
      <p>당신의 경험을 공유해보세요</p>
      <a href="{% url 'reviews:create' %}" class="a-blue">후기 쓰러가기 ></a>
    </div>
  </div>

  <div class="reviews-index-container">
    {% for photo in photo_list %}
    <div class="reviews-card">
      <!-- 사진 -->
      <a href="{% url 'reviews:detail' photo.0.review_id %}" class="reviews-card-a">
        <div class="reviews-card-img-wrap">
          <img src="{{ photo.0.image.url }}">
          <div>+{{ photo.1 }}</div>
        </div>
      </a>
        <!-- 콘텐츠 -->
      <a href="{% url 'reviews:detail' photo.0.review_id %}" class="reviews-card-content-a">
        <div class="reviews-card-content">
          <div class="card-content">
            <p>{{ photo.0.review.keyboard.name }}</p>
            <h1>{{ photo.0.review.title }}</h1>
            <div>{{ photo.0.review.content }}</div>
          </div>
          <div class="card-footer">
            <p>{{ photo.0.review.user }}</p>
            <p>댓글{{ photo.0.review.comment_set.all.count }} 좋아요{{ photo.0.review.like_users.all.count }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

<div class="row">
    {% for review in reviews %}
      <div class="col-4 my-3">
        <div class="card">
          {% if review.img %}
            <img src="{{ review.img.url }}" class="card-img-top" alt="...">
          {% else %}
            <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
          {% endif %}

          <div class="card-body">
            <h5>
              <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
            </h5>
            <p class="text-muted">{{ review.user.username }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

<script src="{% static 'js/articles.js' %}"></script>
{% endblock body %}
