{% extends 'kwbase/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}


<div class="chat">
  <div class="jjok-bang">
    {% comment %} 제목 1 {% endcomment %}
    <div class='all-chat'>
      {% for rooms in all_room %}
      <a href="{% url 'chat:room' rooms.pk %}">
        <div class='gak-chat'>
          <div class="chat-profile">
            <div class="chat-user"> {{rooms.reception_user}}</div>
          </div>
          <div class="chat-keyboard-name">{{rooms.trade.keyboard.name}}</div>
          <div class='chat-content'> {{rooms.trade.title}}</div>
        </div>
      </a>
      {%endfor%}
    </div>
  </div>

  <div class='chatting-bang'>
    <div class="chat-nav">
      <div class="fs-5">{{ room.reception_user }}</div>
      <div class="d-flex align-items-center">
        <div class="">{{room.trade.keyboard.name}}</div>
        <div class="chat-title">{{room.trade.title}}</div>
        <div class="chat-badge">판매</div>
      </div>
    </div>
    <div class="chat-bang">
      {% for message in room_message %}
      {% if message.user != request.user%}
      <div class='you'>
        <div class="chat-profile-box">
          <div class="chat-profile">
            <img class="chat-profile-img" src="{% static 'images/logo_png.png' %}">
          </div>
          <div class="name-content">
            <div class="chat-user-inchat">{{message.user}}</div>
              <div class="chat-time">
                <p class='mb-0'>{{message.created_at}}</p>
                <div class="chat-content-in-you">{{message.content}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
        {% else %}
        <div class='me'>
          <div class="chat-profile-box">
            <div>
              <div class="chat-time">
                <p class='mb-0'>{{message.created_at | date:'m월d일 H:i' }}</p>
                <div class="chat-content-in-me">{{message.content}}</div>
              </div>
            </div>
          </div>
        </div>
        {%endif%}
        {% endfor %}
      </div>
    <div id="chat-log" cols="100" rows="20"></div>
    <div class="message-input-wrap">
      <input id="chat-message-input" type="text" size="100">
      <input id="chat-message-submit" type="button" value="전송">
    </div>
    <!-- <img src="{{userimg.url}}"> -->
  </div>







    <input id="room_pk" type="hidden" value="{{ room_name }}">
    <input id="user_pk" type="hidden" value="{{ user_pk }}">
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"user-name" }}
    <script>
        const room_pk = document.querySelector('#room_pk').value;
        const user_pk = document.querySelector('#user_pk').value;
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const new_msg = data.message.split(':')
            console.log(new_msg)
            const chatLog = document.querySelector('#chat-bang')
            chatLog.insertAdjacentHTML(`beforeend`, `
            <div>
              <a href="/accounts/${ new_msg[2] }" class="text-decoration-none text-dark"><span class="fw-bold"> ${new_msg[0]}</span>님</a>
              |
              <span>${new_msg[1]}</span>
            </div>
            `)
            console.log("완료")
            // document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'room_pk': room_pk,
                'user_pk': user_pk,
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}