.detail-profile>div {
  display: flex;
  align-items: center;
}
.detail-profile h3 {
  font-size: 19px;
  font-weight: 600;
}
.detail-profile h3>span {
  font-size: 16px;
  color: gray;
  font-weight: 400;
}
.detail-profile>h4 {
  font-size: 16px;
}
.follow-btn {
  border: 0;
  border-radius: 3px;
  margin-left: 10px;
  width: 85px;
  text-align: center;
}
.follow {
  background-color: var(--a-blue);
  color: white;
  transition: all .15s ease-in-out;
}
.unfollow {
  background-color: var(--my-hover-gray);
  color: black;
  transition: all .15s ease-in-out;
}
.follow-user>a {
  display: flex;
  align-items: center;
}

.follow-name {
  font-size: larger;
}

.follow-profile-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}