/* 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 200, 400, 500, 600, 700;
  font-style: normal;
}

.kor-font {
  font-family: 'Pretendard-Regular';
}

/* 모든 제목 */
.my-head {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-weight: 900
}

.my-head>h2 {
  font-size: var(--head-size);
  font-weight: 900;
  margin-bottom: 4px;
}

.my-head>hr {
  height: 8px;
  width: 300px;
  background-color: rgb(0, 0, 0);
  border: 0px;
  margin: 8px 0;
  opacity: 1;
}

.my-head>p {
  font-size: 15px;
  margin: 0;
  font-weight: 200;
  color: #666
}


/* base.html */
a {
  color: black;
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

:root {
  --white-transparent: #ffffffc7;
  --a-blue: #3786FB;
  --my-black: #191919;
  --my-red: #EE315E;
  --my-hover-gray: #e8e8e8;
  --my-gray: rgb(172, 172, 172);

  --head-size: 25px;
}

.a-blue {
  color: var(--a-blue);
}

.blue-tag {
  font-size: 14px;
}

.my-nav {
  background-color: #191919a7;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all .3s ease-in-out;
}

.my-nav:hover {
  transition: all .3s ease-in-out;
  background-color: white;
  background-color: var(--my-black);
}

.my-nav>div {
  max-width: 1420px;
  margin: 0 auto;
  height: 100%;
}

.nav-logo {
  width: 50px;
}

.nav-logo-text {
  display: flex;
  font-size: 18px;
  margin: 0 0 0 0.9vh;
  font-weight: 700;
  color: white
}

.my-nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
}

.my-nav-div {
  display: flex;
  list-style: none;
  align-items: center;
}

.my-nav-div>div {
  display: flex;
  margin: 0 1.1719vw;
  align-items: center;
}

.my-nav-item {
  padding: 0 10px;
  font-size: 14px;
  color: white;
}
.all-today {
  margin-left: 20px;
}
.all-today>h5 {
  font-size: 14px;
  font-weight: 200;
  color: white;
  margin-bottom: 0;
}
/* articles/main */
.articles-main1 {
  height: calc(50vh - 25px);
  display: flex;
  align-items: center;
}

.my-container {
  max-width: 1420px;
  margin: auto;
}

.articles-main1-div {
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.articles-main1-div>h1 {
  font-size: 25px;
  padding-right: 50px;
  margin-bottom: 10px;
}

.articles-main1-div>a {
  padding-right: 50px;
}

.articles-main1-img-div {
  width: 65vw;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
}

.articles-main2 {
  height: calc(50vh - 25px);
  width: 100%;
  background-color: var(--my-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.articles-main2-div {
  padding: 2.7344vw;
}

.articles-main2-div>h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

@keyframes keyboard-ani {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }

  to {
    opacity: 1;
    transform: translate(0%);
  }
}

.articles-main2-img {
  width: 50vh;
  animation: keyboard-ani 1.3s;
}

.articles-main3 {
  width: 100%;
  text-align: center;
}

.articles-main3-div {
  padding: 2.7344vw;
}

.articles-main3-div>h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.swiper-img {
  height: 23.4375vw;
  width: 100%;
  object-fit: cover;
}

#recommend {
  width: 100%;
  color: rgb(0, 0, 0);
}

#recommend>h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 18vh;
  padding-bottom: 7vh;
}

#recommend>h2 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 40px;
}

.recommend-box {
  width: 46.8750vw;
  margin: auto;
  display: flex;
}

#recommend>div {
  padding: 50px 0;
}

.recommend-finish-margin {
  padding-bottom: 3vw;
}

.recommend-box-img {
  width: 50%;
  padding-right: 35px;
}

.recommend-box-img-2 {
  width: 50%;
  padding-left: 35px;
}

.recommend-box-img>img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.recommend-box-img-2>img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.recommend-box-comment {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}

.recommend-box-comment-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 35px;
}

.recommend-box-comment>h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recommend-box-comment-2>h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recommend-box-comment>div {
  font-size: 17px;
  margin-bottom: 10px;
}

.recommend-box-comment-2>h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sa {
  opacity: 0;
  transition: all 1.2s ease;
}

/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
  transform: translate(-3.9063vw, 0);
}

/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
  transform: translate(3.9063vw, 0);
}

.sa.show {
  opacity: 1;
  transform: none;
}

footer {
  background-color: var(--my-hover-gray);
  padding: 10px;
}

footer>div {
  font-size: 16px;
  text-align: center;
}

/* nav close */
.all-nav-container {
  width: 100%;
}

.all-nav {
  background-color: var(--my-black);
  width: 100%;
  color: white;
}

.all-nav-close {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.all-nav-close img {
  color: white;
  width: 20px;
  margin: 20px 0 12px 0;
}

/* nav open */
.all-nav-open {
  padding: 45px 0 12px;
  transition: all .3s ease-in-out;
}

.all-nav-open>div {
  text-align: center;
}

.all-nav-open img {
  margin: auto;
  color: white;
  width: 20px;
  margin: 20px 0 12px 0;
  transform: rotate(180deg);
  transition: all .3s ease-in-out;
}

.all-nav-open>table {
  width: 1420px;
  margin: auto;
}

.all-nav-open>table th {
  font-size: 16px;
  padding: 16px 30px;
  width: 20%;
}

.all-nav-radio>label {
  font-size: 15px;
  padding: 5px 18px;
  border-radius: 2px;
}

.all-nav-radio label:hover {
  background-color: #ffffff67;
  transition: all .2s ease-in;
}

.all-nav-radio input[type=radio]:checked+label {
  background-color: var(--white-transparent);
  color: black;
  transition: all .2s ease-in;
}

.all-nav-blank {
  color: var(--my-black);
}

/* 컨테이너 사이즈 */
@media all and (min-width:820px) and (max-width:1480px) {}

.all-card-container {
  max-width: 1420px;
  margin: 40px auto 70px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  /* grid-template-columns: 300px 300px 300px 300px; */
  justify-content: center;
}

.all-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-card>img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.all-card-h1-wrap {
  width: 250px;
}

.all-card-h1-wrap>h1 {
  font-size: 17px;
  margin: 15px 0;
  font-weight: 700;
}

.all-card-button {
  padding: 3px 13px;
  border-radius: 13px;
  background-color: var(--a-blue);
  color: white;
  font-size: 14px;
}

.ad-container {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.ad-card {
  width: 50%;
  position: relative;
}

.ad-card>img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.ad-card-context {
  position: absolute;
  background-color: var(--white-transparent);
  bottom: 0;
  transform: translate(0, 20px);
  width: 100%;
  padding: 20px 30px;
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease-in-out;
}

.ad-card-context-hover {
  position: absolute;
  background-color: var(--white-transparent);
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  visibility: visible;
  opacity: 1;
  transition: all .35s ease-in-out;
}

.ad-card-context-h1 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
}


/* ========================================================================================== */
/* accounts:signup.html */
.signup-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.signup-userinfo {
  background-color: #fff;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(136, 136, 136);
}

.signup-userinfo-name {
  background-color: #fff;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgb(136, 136, 136);
}

.signup-userinfo-box {
  border-color: var(--my-black);
  width: 100%;
}

.signup-userinfo-name-box {
  width: 500px;
  display: flex;
  justify-content: space-between
}

.signupbox {
  width: 500px;
  display: flex;
  margin: 50px auto;
}

.signup-profile-img-input {
  display: none;
}

.signup-profile-img-label {
  background: #F9FAFC;
  border-radius: 3px;
  width: 150px;
  height: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.signup-profile-img-label:hover {
  background: rgba(128, 128, 128, 1);
  color: var(--white-transparent);
}

.mini-w {
  font-size: small;
  color: #666;
}

.select-box {
  width: 500px;
}

.select {
  display: flex;
  width: 100%;
  justify-content: space-between;

}


.select input[type='radio'] {
  display: none;
}

.select label {
  display: block;
  border-radius: 3px;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
  width: 150px;
  margin-bottom: 20px;
}

/* Checked */
.select input[type=radio]:checked+label {
  background: rgba(128, 128, 128, 1);
  color: #fff;
  transition: all .2s ease-in;
}

/* Hover */
.select label:hover {
  color: #666;
  transition: all .2s ease-in;
}

/* Disabled */
.select input[type=radio]+label {
  background: #F9FAFC;
  color: #666;
  transition: all .2s ease-in;
}


.select1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.select1 input[type='radio'] {
  display: none;
}

.select1 label {
  display: block;
  border-radius: 3px;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
  width: 240px;
  margin-bottom: 70px;
}

/* Checked */
.select1 input[type=radio]:checked+label {
  background: rgba(128, 128, 128, 1);
  color: #fff;
}

/* Hover */
.select1 label:hover {
  color: #666;
}

/* Disabled */
.select1 input[type=radio]+label {
  background: #F9FAFC;
  color: #666;
}


.signup-btn {
  width: 500px;
  margin-bottom: 50px;
  background-color: rgba(59, 146, 225, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
}

.changepass-btn {
  width: 500px;
  margin-bottom: 15px;
  background-color: rgba(59, 146, 225, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
}

.cancel-btn {
  width: 500px;
  margin-bottom: 50px;
  background-color: var(--my-gray);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
}

.login-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

/* 유저 디테일 */

.detail-my-head {
  height: 1000px;
}

.usercard {
  width: 315px;
  height: 144px;
  border-radius: 9px;
  border: 1px solid rgb(172, 172, 172);
  margin-bottom: 20px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.usercard-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.usercard:hover {
  border: 4px solid rgb(81, 150, 247);
}

.usercard-big-box {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.bookmark-card {
  width: 650px;
  height: 144px;
  border-radius: 9px;
  border: 1px solid rgb(172, 172, 172);
  margin-bottom: 20px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.userdetailall {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.userdetail-head2 {
  font-weight: 600;
  font-size: 25px;
}

.card-big-box {
  display: flex;
  flex-direction: column;
}

.detail-profile-menu {
  margin-right: 120px;
}

.detail-email {
  margin-bottom: 50px;
}

.detail-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgb(215, 215, 215);
  transition: all .15s ease-in-out;
}

.detail-menu {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

.detail-menu:hover {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--a-blue);
}

.detail-menu-btn:checked {
  margin-bottom: 10px;
  font-weight: bolder;
  color: var(--a-blue);
}


.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  height: -webkit-fill-available;
  line-height: 45px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked+label {
  margin-bottom: 5px;
  font-weight: bolder;
  color: var(--a-blue);
}

/* Hover */
.form_radio_btn label:hover {
  margin-bottom: 10px;
  font-weight: normal;
  color: var(--a-blue);
}

/* Disabled */
.form_radio_btn input[type=radio]+label {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: large;
}

.update-bt {
  display: flex;
  justify-content: space-between;
}

.update-can {
  width: 240px;
  height: 45px;
  background-color: rgb(210, 210, 210);
  border: 0px;
  border-radius: 3px;
}

.update-can:hover {
  background: #3e3e3e
}

.update-del {
  width: 240px;
  height: 45px;
  border: 0px;
  border-radius: 3px;
  background-color: rgb(210, 210, 210);
}

.update-del:hover {
  color: #EE315E;
}



/* 리뷰 작성 css */
.review-userinfo {
  background-color: #fff;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 300px;
  display: flex;
}


.star {
  display: none;
  /* 라디오박스 감춤 */
}

.starlabel {
  font-size: 3em;
  /* 이모지 크기 */
  color: transparent;
  /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #f0f0f0;
  /* 새 이모지 색상 부여 */
}

.fieldset {
  display: inline-block;
  /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  display: flex;
  flex-direction: row-reverse;
  /* 이모지 순서 반전 */
  border: 0;
  /* 필드셋 테두리 제거 */
  width: 325px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.star:checked~label {
  text-shadow: 0 0 0 #ffc802;
  border: white;
  /* 마우스 클릭 체크 */
}

.starlabel:hover {
  text-shadow: 0 0 0 #ffc802;
  border: white;
  /* 마우스 호버 */
}

.starlabel:hover~label {
  text-shadow: 0 0 0 #ffc802;
  border: white;
  /* 마우스 호버 뒤에오는 이모지들 */
}


.reviewcreate-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.reviewcreate-userinfo {
  background-color: #fff;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reviewcreatebox {
  width: 700px;
  display: flex;
  margin: auto;

}


.reviewcreate-userinfo-box {
  border: 10px;
  border-color: var(--my-black);
  width: 100%;
}

.imgbtn {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
  background: #9c9c9c;
  margin-top: 20px;
  margin-bottom: 25px;
}

.imgbtn:hover {
  background-color: #666;
}

.review-btn {
  width: 700px;
  margin-bottom: 50px;
  background-color: rgba(59, 146, 225, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
}


/* 상품디테일 */
#keyboard-star {
  color: var(--my-red);
}

.keyboard-detail-all {
  max-width: 1160px;
  margin: 150px auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.keyboard-detail-img-wrap {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.keyboard-detail-img-wrap>.swiper {
  width: 100%;
}

.keyboard-detail-thumbnail-wrap {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  width: 100%;
  object-fit: cover;
}


.keyboard-detail-thumbnail-wrap>img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.trade-swiper-img {
  width: 100%;
}

.keyboard-detail-content {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.keyboard-detail-content>table tr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.keyboard-detail-content>table th {
  color: #333;
  width: 28%;
  font-weight: normal;
  font-size: 14px;
  padding: 3px 25px;
}

.keyboard-detail-content>table td {
  font-size: 14px;
  color: #333;
}

.keyboard-name {
  margin-bottom: 30px;
  margin-left: 25px;
  font-weight: bolder;
  font-size: 30px;
}

.keyboard-detail-mini {
  margin-top: 30px;
}

.keyboard-detail-mini-title {
  margin-bottom: 25px;
}

.keyboard-detail-mini-title>h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 25px;
}

.keyboard-detail-mini-title>a {
  margin-left: 25px;
  font-size: 15px;
}

.keyboard-comment {
  display: flex;
  margin-bottom: 25px;
  margin-left: 25px;
}

.keyboard-comment-box {
  width: 80%;
}

.keyboard-comment-box>div {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3rem;
  overflow: hidden;
}

.keyboard-comment-box p {
  margin-bottom: 5px;
  font-weight: 700;
}

.comment-profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 25px;
}

.login-btn {
  width: 500px;
  margin-bottom: 7px;
  background-color: rgba(59, 146, 225, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
}

.signup {
  color: gray;
  font-size: 15px;
}
.signup-n-btn {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #57B04B;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  color: #F9FAFC;
  border: 0px;
  border-radius: 3px;
  text-align: center;
}

.signup-g-btn {
  width: 500px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  color: #000000;
  border: 1px;
  border-radius: 3px;
  border: var(--my-gray) solid 1px;
  text-align: center;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-login-hr {
  width: 200px;
}


.icon-size {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.login-type {
  display: flex;
  justify-content: space-between;
}



/* 서치 */

.search-off {
  display: none;

}

.search-on {
  display: block;

}

.search-wrap {
  position: relative;
}

.search-div {
  position: absolute;
  bottom: 1;
  width: 700px;
  height: 300px;
  background-color: rgb(249, 249, 249);
  overflow: scroll;
  z-index: 100;
  overflow-x: hidden;
  border-radius: 10px;
  border: var(--my-gray) solid 1px;
  opacity: 1;
}

.search-keyboard-img {
  width: 70px;
  height: 70px;
}

.search-box {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-box:hover {
  background-color: #32a0ff;
  color: #e8e8e8;
}

.search-box-mini {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.search-box-mini > p {
  margin: 0;
  padding: 10px 0;
}

/* base.html */
#nav-window-btn {
  position: relative;
}
.my-nav-window {
  position: absolute;
  bottom: -365px;
  right: -30px;
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 40px 55px;
  color: black;
  box-shadow: 2px 2px 10px 3px rgba(95, 95, 95, 0.166);
  opacity: 0;
  visibility: hidden;
  transition: all .1s ease-in-out;
}
#nav-window-btn:hover #nav-window {
  opacity: 1;
  visibility: visible;
  transition: all .35s ease-in-out;
}
.nav-profile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-profile {
  display: flex;
  align-items: center;
}
.nav-profile>img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.nav-profile h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 2px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.nav-profile h1>span {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  margin-left: 7px;
}
.nav-profile h2 {
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 15px;
}
.chat1-back {
  background-color: var(--my-red);
}
.chat2-back {
  background-color: var(--a-blue);
}
.navv-profile {
  display: flex;
  align-items: center;
}
.navv-profile>img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
