/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400, 700;
    font-style: normal;

}

.kor-font {
    font-family: 'Pretendard-Regular';
}



/* base.html */
a {
  color: black;
  text-decoration: none;
}

.a-blue {
color: #3786FB;
}
.blue-tag {
  font-size: 1.28vh;
}

.my-nav {
    background-color: #ffffffc7;
    height: 62px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffffc7;
    height: 62px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.my-nav>div {
  max-width: 1420px;
  margin: 0 auto;
  height: 100%;
}

.nav-logo {
  width: 3.9vh;
}

.nav-logo-text {
  display: flex;
  font-size: 1.24vh;
  margin: 0 0 0 0.9vh;
  font-weight: 700;
}

.my-nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
}

.my-nav-div {
  display: flex;
  list-style: none;
}

.my-nav-div>div {
  display: flex;
  margin: 0 1.1719vw;
}

.my-nav-item {
  padding: 0 0.5vh;
  font-size: 1.2vh;
}

/* articles/main */
.articles-main1 {
  height: calc(50vh - 1.25vw);
  display: flex;
  align-items: center;
}

.my-container {
  max-width: 55.4688vw;
  margin: auto;
}

.articles-main1-div {
    width: 45vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.articles-main1-div>h1 {
  font-size: 2.3vh;
  padding-right: 1.9531vh;
  margin-bottom: 0.3906vh;
}

.articles-main1-div>a {
  padding-right: 1.9531vw;
}

.articles-main1-img-div {
    width: 65vw;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
}

.articles-main2 {
  height: calc(50vh - 1.25vw);
  width: 100%;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.articles-main2-div {
  padding: 2.7344vw;
}

.articles-main2-div>h1 {
  color: white;
  font-size: 2.3vh;
  margin-bottom: 0.3906vh;
}

@keyframes keyboard-ani {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}
.articles-main2-img{
  width: 50vh;
  animation: keyboard-ani 1.3s;
}

.articles-main3 {
    width: 100%;
    text-align: center;
}

.articles-main3-div {
  padding: 2.7344vw;
}

.articles-main3-div>h1 {
  font-size: 2.3vh;
  margin-bottom: 0.3906vh;
}

.swiper-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

#recommend {
  width: 100%;
  color: rgb(0, 0, 0);
}

#recommend>h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 40px;
}

#recommend>h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.recommend-box {
  width: 46.8750vw;
  margin: auto;
  display: flex;
}

#recommend>div {
    padding: 120px 0;
}
.recommend-box-img {
  width: 50%
}

.recommend-box-img>img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.recommend-box-comment {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
}

.recommend-box-comment>h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recommend-box-comment>div {
    font-size: 17px;
    margin-bottom: 10px;
}

.sa {
    opacity: 0;
    transition: all 1.2s ease;
}

/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
  transform: translate(-3.9063vw, 0);
}

/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
  transform: translate(3.9063vw, 0);
}

.sa.show {
  opacity: 1;
  transform: none;
}

footer {
  background-color: #e8e8e8;
  padding: 10px;
}

footer>div {
    font-size: 16px;
    text-align: center;
}

@keyframes nav-start {
0% {
  margin: 0.9766vw 0 0.5078vw 0;
}
50% {
  margin: 1.0938vw 0 0.5078vw 0;
}
100% {
  margin: 0.9766vw 0 0.5078vw 0;
}
}

/* nav close */
.all-nav-container {
  position: relative;
  width: 100%;
  height: 2.9297vw;
}
.all-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(19, 19, 19);
  width: 100%;
  color: white;
}
.all-nav-close {
  display: flex;
  justify-content: center;
}
.all-nav-close>svg {
  color: white;
  width: 0.9766vw;
  height: 0.9766vw;
  margin: 0.9766vw 0 0.5078vw 0;
  animation: nav-start 0.35s 2 alternate;
}

/* nav open */
.all-nav-open {
  padding: 1.9531vw 0;
}
.all-nav-open>svg {
  display: none;
}
.all-nav-open>table {
  width: 55.4688vw;
  margin: auto;
}
.all-nav-open>table tr {

}
.all-nav-open>table th {
  font-size: 0.6641vw;
  padding: 0.4688vw 1.5625vw;
  width: 20%;
}

/* 컨테이너 사이즈 */
@media all and (min-width:820px) and (max-width:1480px) {
}

/* ========================================================================================== */
/* accounts:signup.html */
.signup-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.signup-userinfo {
    background-color: #fff;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.signup-userinfo-name {
    background-color: #fff;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.signup-userinfo-box {
    border: 10px;
    border-color: rgb(19, 19, 19);
    width: 100%;

}

.signup-userinfo-name-box {
    width: 500px;
    display: flex;
    justify-content: space-between
}

.signupbox {
    width: 500px;
    display: flex;
    margin: auto;

}

.signup-head {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 900
}

.signup-head-h2 {
    font-weight: 900;
}

.bighr {
    height: 10px;
    width: 330px;
    background-color: rgb(0, 0, 0);
    border: 0px;
}

.select-box {
    width: 500px;
}

.select {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.select input[type='radio'] {
    display: none;
}

.select label {
    display: block;
    border-radius: 3px;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
    width: 150px;
    margin-bottom: 20px;
}

/* Checked */
.select input[type=radio]:checked+label {
    background: rgba(128, 128, 128, 1);
    color: #fff;
}

/* Hover */
.select label:hover {
    color: #666;
}

/* Disabled */
.select input[type=radio]+label {
    background: #F9FAFC;
    color: #666;
}


.select1 {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.select1 input[type='radio'] {
    display: none;
}

.select1 label {
    display: block;
    border-radius: 3px;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
    width: 240px;
    margin-bottom: 70px;
}

/* Checked */
.select1 input[type=radio]:checked+label {
    background: rgba(128, 128, 128, 1);
    color: #fff;
}

/* Hover */
.select1 label:hover {
    color: #666;
}

/* Disabled */
.select1 input[type=radio]+label {
    background: #F9FAFC;
    color: #666;
}


.signup-btn {
    width: 500px;
    margin-bottom: 50px;
    background-color: rgba(59, 146, 225, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    color: #F9FAFC;
    border: 0px;
    border-radius: 3px;
}

.login-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/* 유저 디테일 */

.usercard {
    width: 315px;
    height: 144px;
    border-radius: 9px;
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 20px;
    padding: 22px;
    display: flex;
    justify-content: space-between;
}

.usercard-title {
    font-size: larger;
    font-weight: bold;
}

.usercard:hover {
    border: 4px solid rgb(81, 150, 247);
}

.usercard-big-box {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.userdetailall {
    display: flex;
    justify-content: center;
    margin-top: 100px;


}

.userdetail-head2 {
    font-weight: 600;
}

.card-big-box {
    display: flex;
    flex-direction: column;
}

.detail-profile-menu {
    margin-right: 150px;

}

.detail-email {
    margin-bottom: 50px;
}

.detail-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
}



.detail-menu {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.detail-menu:hover {
    margin-bottom: 10px;
    font-weight: bold;
    color: #3786FB;
}

.detail-menu-btn:checked {
    margin-bottom: 10px;
    font-weight: bolder;
    color: #3786FB;
}


.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    height: -webkit-fill-available;
    line-height: 45px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked+label {
    margin-bottom: 10px;
    font-weight: bolder;
    color: #3786FB;
}

/* Hover */
.form_radio_btn label:hover {
    margin-bottom: 10px;
    font-weight: normal;
    color: #3786FB;
}

/* Disabled */
.form_radio_btn input[type=radio]+label {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: large;
}







/* 리뷰 작성 css */
.review-userinfo {
    background-color: #fff;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 300px;
    display: flex;
}


.star {
    display: none;
    /* 라디오박스 감춤 */
}

.starlabel {
    font-size: 3em;
    /* 이모지 크기 */
    color: transparent;
    /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0;
    /* 새 이모지 색상 부여 */
}

.fieldset {
    display: inline-block;
    /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    display: flex;
    flex-direction: row-reverse;
    /* 이모지 순서 반전 */
    border: 0;
    /* 필드셋 테두리 제거 */
    width: 325px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.star:checked~label {
    text-shadow: 0 0 0 #ffc802;
    border: white;
    /* 마우스 클릭 체크 */
}

.starlabel:hover {
    text-shadow: 0 0 0 #ffe999;
    border: white;
    /* 마우스 호버 */
}

.starlabel:hover~label {
    text-shadow: 0 0 0 #ffe999;
    border: white;
    /* 마우스 호버 뒤에오는 이모지들 */
}


.reviewcreate-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.reviewcreate-userinfo {
    background-color: #fff;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 700px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reviewcreatebox {
    width: 700px;
    display: flex;
    margin: auto;

}

.reviewcreate-head {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 900
}

.reviewcreate-userinfo-box {
    border: 10px;
    border-color: rgb(19, 19, 19);
    width: 100%;
}

.imgbtn {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    background: #9c9c9c;
    margin-top: 20px;
    margin-bottom: 25px;
}

.imgbtn:hover {
    background-color: #666;
}

.review-btn {
    width: 700px;
    margin-bottom: 50px;
    background-color: rgba(59, 146, 225, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    color: #F9FAFC;
    border: 0px;
    border-radius: 3px;
}


/* 상품디테일 */
.keyboard-detail-all {
    margin-top: 150px;

}

.keyboard-detail-img {
    width: 100%;
    
    padding: 0 30px 0px 30px;
}

.keyboard-info {
    display: flex;
}

.keyboard-info-all {
    margin-bottom: 30px;
}

.keyboard-info-name {
    margin-right: 100px;
    color: #9c9c9c;
    margin-left: 10px;
}

.keyboard-name {
    margin-bottom: 50px;
    font-weight: bolder;
}

.comment-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.keyboard-comment {
    display: flex;
    margin-bottom: 30px;
}

.keyboard-detail-mini-title {
    font-weight: bold;
}