.trade-card-container {
  max-width: 1420px;
  margin: 40px auto 70px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  /* grid-template-columns: 300px 300px 300px 300px; */
  justify-content: center;
}

.trade-index-search-form {
  display: flex;
  justify-content: center;
  margin: 60px 0 30px;
}

.trade-index-search-form>input[type=text] {
  width: 350px;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid black;
}

.trade-index-search-form>input[type=submit] {
  padding: 5px 20px;
  margin-left: 16px;
  border-radius: 3px;
  background-color: var(--my-black);
  color: white;
}

.trade-index-radio-form {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.trade-index-radio-form>input {
  display: none;
}

.trade-index-radio-form>input[type=radio]+label {
  font-size: 15px;
  margin: 0 8px;
  padding: 5px 15px;
  background-color: rgb(227, 227, 227);
  border-radius: 3px;
  transition: all .2s ease-in;
}

.trade-index-radio-form>input[type=radio]:checked+label {
  background-color: rgba(0, 0, 0, 0.698);
  color: white;
  transition: all .2s ease-in;
}

.select-trade {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.select-trade input[type='radio'] {
  display: none;
}

.select-trade label {
  display: block;
  border-radius: 3px;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
  width: 50%;
}

.select-trade input[type=radio]+label:hover {
  background-color: var(--my-hover-gray);
}

/* Checked */
.select-trade input[type=radio]:checked+label {
  background: rgba(128, 128, 128, 1);
  color: #fff;
}

/* Hover */
.select-trade label:hover {
  color: #666;
}

/* Disabled */
.select-trade input[type=radio]+label {
  background: #F9FAFC;
  color: #666;
}

.reviewcreate-userinfo-context {
  background-color: #fff;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 150px;
}


.trade-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-header>p {
  font-size: 15px;
  margin: 0 10px 0 0;
  font-weight: 200;
  color: #666
}

.card-container {
  max-width: 1420px;
  margin: 40px auto 70px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  /* grid-template-columns: 300px 300px 300px 300px; */
  justify-content: center;
}

.my-card {
  position: relative;
}

.card-content>img {
  width: 400px;
  height: 500px;
  object-fit: contain;
}

.card-title {
  margin: 8px 0;
}

.card-title>h3 {
  color: #666;
  font-size: 15px;
  margin-bottom: 3px;
}

.card-title>h2 {
  font-size: 21px;
  font-weight: 700;
}

.card-title>h1 {
  font-size: 18px;
  margin-bottom: 3px;
}

.card-badge {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  border-radius: 4px;
  color: white;
}

.blue-badge {
  background-color: var(--a-blue);
}

.red-badge {
  background-color: var(--my-red);
}

.jjimjjok {
  width: 400px;
  display: flex;
  margin-left: 25px;
}
.trade-detail-btn {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px 14px;
  font-weight: 500;
  border: 0px;
  border-radius: 3px;
  text-align: center;
  margin-right: 20px;
}
.no-jjim {
  background-color: var(--my-hover-gray);
  color: black;
}
.jjim {
  background-color: var(--my-red);
  color: white;
}
.jjok {
  background-color: var(--my-black);
  color: white;
}
.trade-content {
  margin-left: 25px;
}

.keyboard-detail-mini-1 {
  margin-top: 30px;
}

.keyboard-detail-mini-1title {
  margin-bottom: 25px;
}

.keyboard-detail-mini-1-title>h2 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 25px;
}

.keyboard-detail-mini-1-title>a {
  margin-left: 25px;
}

.trade-keyboard-name {
  margin-bottom: 30px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.trade-keyboard-name>h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.trade-keyboard-name>div {
  color: rgb(177, 177, 177);
  font-size: 13px;
  font-weight: 400;
  margin-left: 16px;
}
.comment-hr {
  margin: auto;
}

.trade-all {
  max-width: 1160px;
  margin: 0 auto;
}