{% extends "kwbase/base.html" %}
{% load django_bootstrap5 %}

{% block body %}
  <div class='my-head'>
    <h2>KeyBoard Warrior ID 생성</h2>
    <hr>
    <p>키보드 워리어 회원 등록</p>
  </div>
  <div class='signupbox'>
    <form action="" style="margin-top:20px;" method="POST" enctype="multipart/form-data">
      <div class="form_container">
        {% csrf_token %}
        <div class='signup-user'>
          <div class='signup-userinfo-box'>
          <input data-testid="input-box" name="old_password"
                    placeholder="기존 암호" type="password" required="" class="signup-userinfo" value="">
            
            <input data-testid="input-box" name="new_password1"
                    placeholder="새 암호" type="password" required="" class="signup-userinfo" value="">
            <input data-testid="input-box" name="new_password2"
                    placeholder="새 암호 확인" type="password" required="" class="signup-userinfo" value="">
          </div>
          
        </div>
      </div>
      <div>
        <button class='changepass-btn' type="submit">KeyBoard Warrior의 암호변경하기</button>
      </div>
      <div>
        <a href="{% url 'accounts:detail' user.id %}">
          <button class='cancel-btn' type="button">취소</button>
        </a>
      </div>
    </form>
  </div>

{% endblock body %}