{% extends "kwbase/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}


{% comment %} 제목 1 {% endcomment %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class='my-head'>
  <h2>KeyBoard Warrior에 로그인</h2>
  <hr>
  <p>키보드 워리어 들어가기</p>
</div>
<div class='signupbox'>
  <form action="" id ="fmField" method="POST" enctype="multipart/form-data" onsubmit="return checkForm();">
    {% csrf_token %}
    <div>
      {% comment %} 로그인 폼 1 {% endcomment %}
      <div class='login-user'>
        <div class='signup-userinfo-box'>
          <input data-testid="input-box" id="userId" name="username" placeholder="아이디" type="text" required=""
            class="signup-userinfo" value="">
          <input data-testid="input-box"  id="userPw" name="password" placeholder="암호" type="password" required=""
            class="signup-userinfo" value="">
        </div>
      </div>
      <div class="text-center">
        <button class='login-btn' type="submit">KeyBoard Warrior에 로그인</button>
        <a href="{% url 'accounts:signup' %}" class="signup">KeyBoard Warrior ID가 없으신가요?</a>
      </div>
      
      <div class='social-login'>
        <hr class='social-login-hr'> 
        <p>간편로그인</p>
        <hr class='social-login-hr'>
      </div>
      <div>
        <a  href="http://keyboardwarriorbean-env.eba-uzmimep3.ap-northeast-2.elasticbeanstalk.com/accounts/login/naver/">
        <div class='signup-n-btn'><img class="icon-size" src="{% static 'images/naver.png' %}">NAVER로 시작하기</div></a>
      </div>
      <div>
        <a href="http://keyboardwarriorbean-env.eba-uzmimep3.ap-northeast-2.elasticbeanstalk.com/accounts/login/google/">
        <div class='signup-g-btn'><img class="icon-size" src="{% static 'images/google.png' %}">Google로 시작하기</div></a>
      </div>
    </div>

  </form>
</div>
<script>
function checkForm() {
  var userId = document.fmField.uerId;
  // 아이디 입력 유무 체크
  if(userId.value == '' || !(userId.value.length >= 3 && userId.value.length <= 12)) {
      window.alert("아이디를 입력하시오");
      document.fmField.uerId.focus();
      document.getElementById('userId').select();
      return false; // 아이디 입력이 안되어 있다면 submint 이벤트를 중지
  }
  var uerPw = document.getElementById('userPw');
  // 암호 입력 유무 체크
  if(document.fmField.userPw.value == ''){
      alert('암호를 입력하세요.');
      userPw.focus();
      return false;
  }
}
</script>


{% endblock body %}