{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
<div class='trade-all'>
  <div class="keyboard-detail-all">
    <div class="keyboard-detail-img-wrap">
      <!-- 캐러셀 -->
      <div class="swiper" id="trade-slide">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for photo in photos %}
          <div class="swiper-slide"><img src="{{ photo.image.url }}" class="trade-swiper-img"></div>
          {% endfor %}
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="keyboard-detail-thumbnail-wrap">
        {% for photo in photos %}
        <img src="{{ photo.image.url }}">
        {% endfor %}
      </div>
    </div>

    <!-- 제품정보 -->
    <div class="keyboard-detail-content">
      <div class="trade-keyboard-name">
        <h2>{{ trade.title }}</h2>
        <div>
          <i class="bi bi-bookmark-fill"></i>
          <span id="marker_count">{{trade.marker.all.count}}</span>
        </div>
      </div>
      <table>
        <tr>
          <th>판매/구매</th>
          <td>
            {%if trade.Trade_type == 1%}판매{%else%}구매{%endif%}</td>
        </tr>
        <tr>
          <th>거래상태</th>
          <td>
            {%if trade.status_type == 1%}거래중{%else%}거래완료{%endif%}</td>
        </tr>
        <tr>
          <th>모델명</th>
          <td>{{ trade.keyboard.name }}</td>
        </tr>
        <tr>
          <th>별점</th>
          <td id="keyboard-star">★{{aval}}</td>
        </tr>
        <tr>
          <th>제조사</th>
          <td>{{ trade.keyboard.brand }}</td>
        </tr>
        {% if trade.keyboard.connect != '기타' %}
        <tr>
          <th>연결 방식</th>
          <td>{{ trade.keyboard.connect }}</td>
        </tr>
        {% endif %}
        {% if trade.keyboard.switch != '기타' %}
        <tr>
          <th>스위치</th>
          <td>{{ trade.keyboard.switch }}</td>
        </tr>
        {% endif %}
        {% if trade.keyboard.key_switch != '기타' %}
        <tr>
          <th>키 스위치</th>
          <td>{{ trade.keyboard.key_switch }}</td>
        </tr>
        {% endif %}
        {% if trade.keyboard.press != '기타' %}
        <tr>
          <th>키압</th>
          <td>{{ trade.keyboard.press }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>키 배열</th>
          <td>{{ trade.keyboard.kind }}
            /
            {{ trade.keyboard.array }}키
          </td>
        </tr>
        <tr>
          <th>무게</th>
          <td>{{ trade.keyboard.weight }}</td>
        </tr>
      </table>

      {% if request.user != trade.user %}
      <div class="jjimjjok">
        {% if request.user in trade.marker.all %}
        <div class="trade-detail-btn jjim" id="marker-icon" data-trade-id="{{ trade.pk }}">
          <i class="bi bi-bookmark-fill" data-trade-id="{{ trade.pk }}"></i>
          <span data-trade-id="{{ trade.pk }}">찜완료</span>
        </div>
        {% else %}
        <div class="trade-detail-btn no-jjim" id="marker-icon" data-trade-id="{{ trade.pk }}">
          <i class="bi bi-bookmark" id="bookmark" data-trade-id="{{ trade.pk }}"></i>
          <span data-trade-id="{{ trade.pk }}">찜하기</span>
        </div>
        {% endif %}
        <a href="{% url 'accounts:first_message' trade.pk trade.user.pk %}">
          <div class="trade-detail-btn jjok">쪽지보내기</div>
        </a>
      </div>
      <!-- 내가 작성자면 -->
      {% else %}
      <div class="jjimjjok">
        {% if trade.status_type == 1 %}
        <div class="trade-detail-btn jjim" id="status-btn" data-trade-id="{{ trade.pk }}">
          <span data-trade-id="{{ trade.pk }}">거래중</span>
        </div>
        {% else %}
        <div class="trade-detail-btn no-jjim" id="status-btn" data-trade-id="{{ trade.pk }}">
          <span data-trade-id="{{ trade.pk }}">거래완료</span>
        </div>
        {% endif %}
        <a href="{% url 'trade:update' trade.pk %}">
          <div class="trade-detail-btn jjok">글 수정</div>
        </a>
      </div>
      {% endif %}

      <div class='trade-content'>
        {{ trade.content }}
      </div>

      <div class="keyboard-detail-mini-1">
        <div class="keyboard-detail-mini-1-title">
          <h2>이 키보드의 사용자의 경험 알아보기</h2>
          <a class="a-blue" href="{% url 'reviews:best' trade.keyboard_id %}">알아보기 ></a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="trade-all">
  {% if request.user.is_authenticated %}
  <div class="commentform-wrap">
    <div class="commentform-trade">
      <form id="commentForm" data-trade-id="{{ trade.pk }}" action="{%url 'trade:comment' trade.pk %}" method="POST">
        {% csrf_token %}
        <input data-testid="input-box" name="content" placeholder="댓글을 작성해주세요" type="text" required=""
          class="tradecomment-create" value="" autocomplete="off">
        <input class="btn btn-dark tradecomment-input" type="submit" value="제출">
      </form>
    </div>
    <hr class="comment-hr">
  </div>
  {% endif %}
  <div id="comment_box">
      {% for comment in comments %}
      <div class='comment'>

        <div class="keyboard-comment">
          <a href="{% url 'accounts:detail' comment.user.pk %}">
          {% if comment.user.is_social == 1 %}<img class="comment-profile-img" src="{{ comment.user.image }}">
          {% else %}<img class="comment-profile-img" src="{{ comment.user.image.url }}">
          {% endif %}
          </a>
          <div class="keyboard-comment-box">
            <p>{{comment.user}}
              {% if request.user == comment.user %}
              <button id="delete_btn_{{comment.pk}}" onclick="delete_btn(this)" data-trade-id="{{trade.pk}}"
                data-comment-id="{{comment.pk}}" class="comment-delete-btn" style="color: rgb(177, 177, 177);">삭제
              </button>
              {% endif %}
            </p>
            <div>{{comment.content}}</div>
          </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/trade/detail.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const commentFrom = document.querySelector('#commentForm')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentFrom.addEventListener('submit', function (event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/trade/${event.target.dataset.tradeId}/comment/`,
      header: {
        'X-CSRFtoken': csrftoken
      },
      data: new FormData(commentFrom)
    }).then(response => {
      const comment_box = document.querySelector('#comment_box')
      const user = response.data.user
      comment_box.textContent = "";
      const comment_data = response.data.comment_list
      for (let i = 0; i < comment_data.length; i++) {
        const review_pk = response.data.review_pk
        console.log(comment_data[i].id, user)
        // 프로필 이미지
        let profile_src = "";
        if (comment_data[i].image) {
          if (comment_data[i].is_social === 0) {
            profile_src = `/media/${comment_data[i].image}`;
          }
          else {
            profile_src = `${comment_data[i].image}`;
          }
        }
        else {
          profile_src = `{% static 'images/logo_png.png' %}`;
        }

        // 내가 댓글 작성자면
        let writer = "";
        if(user === comment_data[i].user_pk) {
          writer = `
          <button id="delete_btn_${comment_data[i].comment_pk}" onclick="delete_btn()" data-trade-id="{{ trade.pk }}"
                data-comment-id="${comment_data[i].comment_pk}" class="comment-delete-btn" style="color: rgb(177, 177, 177);">삭제
          </button>`
        }

        let html = `
          <div class="comment">
            <div class="keyboard-comment">
              <a href="/accounts/${comment_data[i].user_pk}/detail">
                <img class="comment-profile-img" src="${profile_src}">
              </a>
            <div class="keyboard-comment-box">
              <a href="/accounts/${comment_data[i].user_pk}/detail">
                <p class="keyboard-comment-user">${comment_data[i].username}</p>
              </a>
              ${writer}
              <div>${comment_data[i].content}</div>
            </div>
          </div>
        </div>`
        comment_box.insertAdjacentHTML('beforeend', `${html}`)
      } commentForm.reset()
  }).catch(console.log("코멘트 전송"))
})
</script>
<!-- 비동기 댓글 삭제 -->
<script>
  const delete_btn = (e) => {
    const delete_data = document.querySelector(`#delete_btn_${event.target.dataset.commentId}`)
    event.preventDefault();
    console.log(event.target)
    axios({method: 'post',
          url: `/trade/${event.target.dataset.tradeId}/${event.target.dataset.commentId}/comment_delete/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        }).then(response => {
        const comment_box = document.querySelector('#comment_box')
        const user = response.data.user
        comment_box.textContent = "";
        const comment_data = response.data.comment_list
          for (let i = 0; i < comment_data.length; i++) {
          const review_pk = response.data.review_pk
          console.log(comment_data[i].image)
          console.log(comment_data[i].comment_pk, comment_data[i].user_pk)
          // 프로필 이미지
          let profile_src = "";
          if (comment_data[i].image) {
            if (comment_data[i].is_social === 0) {
              profile_src = `/media/${comment_data[i].image}`;
            }
            else {
              profile_src = `${comment_data[i].image}`;
            }
          }
          else {
            profile_src = `{% static 'images/logo_png.png' %}`;
          }

          // 내가 댓글 작성자면
          let writer = "";
          if(user === comment_data[i].user_pk) {
            writer = `
            <button id="delete_btn_${comment_data[i].comment_pk}" onclick="delete_btn()" data-trade-id="{{trade.pk}}"
                  data-comment-id="${comment_data[i].comment_pk}" class="comment-delete-btn" style="color: rgb(177, 177, 177);">삭제
            </button>`
          }

          let html = `
            <div class="comment">
              <div class="keyboard-comment">
                <a href="/accounts/${comment_data[i].userpk}/detail">
                <img class="comment-profile-img" src="${profile_src}">
              </a>
              <div class="keyboard-comment-box">
                <a href="/accounts/${comment_data[i].userpk}/detail">
                  <p class="keyboard-comment-user">${comment_data[i].username}</p>
                </a>
                ${writer}
                <div>${comment_data[i].content}</div>
              </div>
            </div>
          </div>`
          comment_box.insertAdjacentHTML('beforeend', `${html}`)
        }
    })
  }
</script>
<!-- 찜하기 스크립트!! -->
<script>
    const marker = document.querySelector('#marker-icon')
    const marker_text_wrap = marker?.querySelector('div')
    marker?.addEventListener('click', function (event) {
      capture: true
      axios({ method: 'get', url: `/trade/${event.target.dataset.tradeId}/marker/` }).then(response => {

        console.log(response)
        console.log(response.data)
        marker.classList.toggle('jjim')
        marker.classList.toggle('no-jjim')
        marker.querySelector('#bookmark').classList.toggle('bi-bookmark-fill')
        marker.querySelector('#bookmark').classList.toggle('bi-bookmark')
        marker.querySelector('span').innerText = response.data.is_marker? '찜완료' : '찜하기'

        const marker_count = document.querySelector('#marker_count')
        marker_count.innerText = response.data.markers

      })
    })
</script>

<script>
  const status = document.querySelector('#status-btn')
  status?.addEventListener('click', function (event) {
    capture: true
    axios({ method: 'get', url: `/trade/${event.target.dataset.tradeId}/status/` }).then(response => {
        console.log(response.data.is_done)
        status.classList.toggle('jjim')
        status.classList.toggle('no-jjim')
        status.querySelector('span').innerText = response.data.is_done? '거래중' : '거래완료'
    })
})
</script>
{% endblock body %}