{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
<div class="keyboard-detail-all">
  <div class="keyboard-detail-img-wrap">
    <img src="{{ trade.img }}">
  </div>
  <!-- 제품정보 -->
  <div class="keyboard-detail-content">
    <h2 class='keyboard-name'>{{ trade.title }}</h2>
    <table>
      <tr>
        <th>모델명</th>
        <td>{{ trade.keyboard.name }}</td>
      </tr>
      <tr>
        <th>별점</th>
        <td style="color:rgb(210, 33, 9);">☆☆☆☆</td>
      </tr>
      <tr>
        <th>제조사</th>
        <td>{{ trade.keyboard.brand }}</td>
      </tr>
      {% if trade.keyboard.connect != '기타' %}
      <tr>
        <th>연결 방식</th>
        <td>{{ trade.keyboard.connect }}</td>
      </tr>
      {% endif %}
      {% if trade.keyboard.switch != '기타' %}
      <tr>
        <th>스위치</th>
        <td>{{ trade.keyboard.switch }}</td>
      </tr>
      {% endif %}
      {% if trade.keyboard.key_switch != '기타' %}
      <tr>
        <th>키 스위치</th>
        <td>{{ trade.keyboard.key_switch }}</td>
      </tr>
      {% endif %}
      {% if trade.keyboard.press != '기타' %}
      <tr>
        <th>키압</th>
        <td>{{ trade.keyboard.press }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>키 배열</th>
        <td>{{ trade.keyboard.kind }} / {{ trade.keyboard.array }}키 </td>
      </tr>
      <tr>
        <th>무게</th>
        <td>{{ trade.keyboard.weight }}</td>
      </tr>
    </table>


    <div class="select-trade-1">
        <input =title="Button fade blue/green" id='btn1' class="button1 btnFade btnred"><label for="btn1">찜</label>
        <input title="Button fade blue/green" id='btn2' class="button1 btnFade btnBlueGreen"><label for="btn2">쪽지 보내기</label>
    </div>

    <div class="keyboard-detail-mini">
      <div class="keyboard-detail-mini-title">
        <h2>베스트 후기</h2>
        <a class="a-blue" href='#'>알아보기 ></a>
      </div>

      

    </div>
    <!-- 판매/구매 -->
    <div class="keyboard-detail-mini-title" style="margin-top: 15px;">
      <h2>마음에 드셨나요?</h2>
      <a class="a-blue">판매/구매 하러가기 ></a>
    </div>
  </div>
</div>

{% endblock body %}