{% extends "kwbase/base.html" %}
{% load static %}
{% load humanize %}
{% block body %}

<!-- 제목 -->
<div class="my-container">
  <div class="my-head">
    <h2>키보드의 새 주인이 되어보세요</h2>
    <hr>
    <div class="trade-header">
      <p>키보드를 직접 사고 팔아보세요</p>
      <a href="{% url 'trade:create' %}" class="a-blue">판매/ 구매하기 ></a>
    </div>
  </div>

  <div>
    <!-- 검색창 -->
    <form action="{% url 'trade:trade_search' %}" method="GET" class="trade-index-search-form">
      <input type="search" placeholder="거래글을 검색해보세요" name="kw">
      <input type="submit" value="검색">
    </form>

    <!-- 모든 글/ 판매/ 구매 라디오 -->
    <form class="trade-index-radio-form">
      <input type="radio" id="0" name="trade" checked="checked">
      <label for="0">모두</label>
      <input type="radio" id="1" name="trade">
      <label for="1">판매글만</label>
      <input type="radio" id="2" name="trade">
      <label for="2">구매글만</label>
    </form>

    <!-- 검색결과 문구 -->
    <div class="trade-index-search-result">
      {% if search_word %}
        {% if trades %}
        <h2>검색결과 "{{ search_word }}"를 찾았습니다.</h2>
        {% else %}
        <h2>"{{ search_word }}"에 관한 검색결과가 없습니다.</h2>
        {% endif %}
      {% endif %}
    </div>
    
    <!-- 게시글 카드 -->
    <div class="card-container" id="trade-card-0">
      <!-- 거래 기다리고 있는 상품들 -->
      {% for trade in trade_list %}
      <a href="{% url 'trade:detail' trade.pk %}">
        <div class="my-card">
          <div class="card-content">
            {% if trade.photo_set.all %}
              <img src="{{ trade.photo_set.all.0.image.url }}">
            {% else %}
              <img src="{% static 'images/logo_png.png' %}">
            {% endif %}
            <div class="card-title">
              <h3>{{ trade.keyboard.name }}</h3>
              <h1>{{ trade.title }}</h1>
              <h2>₩ {{ trade.price|intcomma }}</h2>
            </div>
            {% if trade.Trade_type == 1 %}
              <div class="card-badge blue-badge">판매</div>
            {% else %}
              <div class="card-badge red-badge">구매</div>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}

      <!-- 거래완료된 상품들 -->
      {% for trade in done_trade_list %}
      <a href="{% url 'trade:detail' trade.pk %}">
        <div class="my-card">
          <div class="card-content">
            {% if trade.photo_set.all %}
              <img src="{{ trade.photo_set.all.0.image.url }}">
            {% else %}
              <img src="{% static 'images/logo_png.png' %}">
            {% endif %}
            <div class="card-title">
              <h3>{{ trade.keyboard.name }}</h3>
              <h1 class="done-text">{{ trade.title }}</h1>
              <h2 class="done-text">₩ {{ trade.price|intcomma }}</h2>
            </div>
            {% if trade.Trade_type == 1 %}
              <div class="card-badge blue-badge">판매</div>
            {% else %}
              <div class="card-badge red-badge">구매</div>
            {% endif %}
          </div>
          <!-- 거래완료 딱지 -->
          <div class="done-badge">
            <div>판매완료</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- 게시글 카드 판매글만 -->
    <div class="card-container" id="trade-card-1" style="display: none;">
      <!-- 거래 기다리고 있는 상품들 -->
    {% for trade in trade_list %}
      {% if trade.Trade_type == 1 %}
        <a href="{% url 'trade:detail' trade.pk %}">
          <div class="my-card">
            <div class="card-content">
              {% if trade.photo_set.all %}
                <img src="{{ trade.photo_set.all.0.image.url }}">
              {% else %}
                <img src="{% static 'images/logo_png.png' %}">
              {% endif %}
              <div class="card-title">
                <h3>{{ trade.keyboard.name }}</h3>
                <h1>{{ trade.title }}</h1>
                <h2>₩ {{ trade.price|intcomma }}</h2>
              </div>
              {% if trade.Trade_type == 1 %}
                <div class="card-badge blue-badge">판매</div>
              {% else %}
                <div class="card-badge red-badge">구매</div>
              {% endif %}
            </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}

    <!-- 거래완료된 상품들 -->
    {% for trade in done_trade_list %}
      {% if trade.Trade_type == 1 %}
        <a href="{% url 'trade:detail' trade.pk %}">
          <div class="my-card">
            <div class="card-content">
              {% if trade.photo_set.all %}
                <img src="{{ trade.photo_set.all.0.image.url }}">
              {% else %}
                <img src="{% static 'images/logo_png.png' %}">
              {% endif %}
              <div class="card-title">
                <h3>{{ trade.keyboard.name }}</h3>
                <h1 class="done-text">{{ trade.title }}</h1>
                <h2 class="done-text">₩ {{ trade.price|intcomma }}</h2>
              </div>
              {% if trade.Trade_type == 1 %}
                <div class="card-badge blue-badge">판매</div>
              {% else %}
                <div class="card-badge red-badge">구매</div>
              {% endif %}
            </div>
            <!-- 거래완료 딱지 -->
            <div class="done-badge">
              <div>판매완료</div>
            </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
        
    <!-- 게시글 카드 구매글만 -->
    <div class="card-container" id="trade-card-2" style="display: none;">
      <!-- 거래 기다리고 있는 상품들 -->
    {% for trade in trade_list %}
      {% if trade.Trade_type == 2 %}
        <a href="{% url 'trade:detail' trade.pk %}">
          <div class="my-card">
            <div class="card-content">
              {% if trade.photo_set.all %}
                <img src="{{ trade.photo_set.all.0.image.url }}">
              {% else %}
                <img src="{% static 'images/logo_png.png' %}">
              {% endif %}
              <div class="card-title">
                <h3>{{ trade.keyboard.name }}</h3>
                <h1>{{ trade.title }}</h1>
                <h2>₩ {{ trade.price|intcomma }}</h2>
              </div>
              {% if trade.Trade_type == 1 %}
                <div class="card-badge blue-badge">판매</div>
              {% else %}
                <div class="card-badge red-badge">구매</div>
              {% endif %}
            </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}

      <!-- 거래완료된 상품들 -->
      {% for trade in done_trade_list %}
        {% if trade.Trade_type == 2 %}
        <a href="{% url 'trade:detail' trade.pk %}">
          <div class="my-card">
            <div class="card-content">
              {% if trade.photo_set.all %}
                <img src="{{ trade.photo_set.all.0.image.url }}">
              {% else %}
                <img src="{% static 'images/logo_png.png' %}">
              {% endif %}
              <div class="card-title">
                <h3>{{ trade.keyboard.name }}</h3>
                <h1 class="done-text">{{ trade.title }}</h1>
                <h2 class="done-text">₩ {{ trade.price|intcomma }}</h2>
              </div>
              {% if trade.Trade_type == 1 %}
                <div class="card-badge blue-badge">판매</div>
              {% else %}
                <div class="card-badge red-badge">구매</div>
              {% endif %}
            </div>
            <!-- 거래완료 딱지 -->
            <div class="done-badge">
              <div>판매완료</div>
            </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>

  </div>
  <script src="{% static 'js/trade/index.js' %}"></script>
{% endblock body %}
