{% extends "kwbase/base.html" %}
{% load static %}
{% block body %}
<div class="all-nav-container">
  <nav class="all-nav">
    <div class="all-nav-close" id="all-btn">
      <table id="nav-table" style="display: none;">
        <tbody>
          <tr>
            <th>브랜드</th>

            <td class="all-nav-radio">
              <input type="radio" id="leo" name="brand" style="display: none;" value="레오폴드"
                onclick="pick_brand(); send();">
              <label for="leo">
                <div class="all-nav-radio">레오폴드</div>
              </label>
              <input type="radio" id="abko" name="brand" style="display: none;" value="앱코"
                onclick="pick_brand(); send();">
              <label for="abko">
                <div class="all-nav-radio">앱코</div>
              </label>

              <input type="radio" id="mstone" name="brand" style="display: none;" value="엠스톤글로벌"
                onclick="pick_brand(); send();">
              <label for="mstone">
                <div class="all-nav-radio">엠스톤글로벌</div>
              </label>

              <input type="radio" id="cherry" name="brand" style="display: none;" value="CHERRY"
                onclick="pick_brand(); send();">
              <label for="cherry">
                <div class="all-nav-radio">체리</div>
              </label>

              <input type="radio" id="logi" name="brand" style="display: none;" value="로지텍"
                onclick="pick_brand(); send();">
              <label for="logi">
                <div class="all-nav-radio">로지텍</div>
              </label>

              <input type="radio" id="keych" name="brand" style="display: none;" value="Keychron"
                onclick="pick_brand(); send();">
              <label for="keych">
                <div class="all-nav-radio">키크론</div>
              </label>

              <input type="radio" id="hansung" name="brand" style="display: none;" value="한성컴퓨터"
                onclick="pick_brand(); send();">
              <label for="hansung">
                <div class="all-nav-radio">한성컴퓨터</div>
              </label>

              <input type="radio" id="varmilo" name="brand" style="display: none;" value="varmilo"
                onclick="pick_brand(); send();">
              <label for="varmilo">
                <div class="all-nav-radio">바밀로</div>
              </label>

              <input type="radio" id="Ducky" name="brand" style="display: none;" value="ducky"
                onclick="pick_brand(); send();">
              <label for="Ducky">
                <div class="all-nav-radio">더키</div>
              </label>
            </td>
          </tr>
          <tr>
            <th>키 스위치</th>
            <td class="all-nav-radio">

              <input type="radio" id="blue-switch" name="key-switch" style="display: none;" value="청"
                onclick="pick_key(); send();">
              <label for="blue-switch">
                <div class="all-nav-radio">청축</div>
              </label>

              <input type="radio" id="brown-switch" name="key-switch" style="display: none;" value="갈"
                onclick="pick_key(); send();">
              <label for="brown-switch">
                <div class="all-nav-radio">갈축</div>
              </label>

              <input type="radio" id="red-switch" name="key-switch" style="display: none;" value="적"
                onclick="pick_key(); send();">
              <label for="red-switch">
                <div class="all-nav-radio">적축</div>
              </label>

              <input type="radio" id="black-switch" name="key-switch" style="display: none;" value="흑"
                onclick="pick_key(); send();">
              <label for="black-switch">
                <div class="all-nav-radio">흑축</div>
              </label>

              <input type="radio" id="white-switch" name="key-switch" style="display: none;" value="백"
                onclick="pick_key(); send();">
              <label for="white-switch">
                <div class="all-nav-radio">백축</div>
              </label>

              <input type="radio" id="yellow-switch" name="key-switch" style="display: none;" value="황"
                onclick="pick_key(); send();">
              <label for="yellow-switch">
                <div class="all-nav-radio">황축</div>
              </label>

              <input type="radio" id="milky-switch" name="key-switch" style="display: none;" value="밀키"
                onclick="pick_key(); send();">
              <label for="milky-switch">
                <div class="all-nav-radio">밀키축</div>
              </label>

              <input type="radio" id="cream-switch" name="key-switch" style="display: none;" value="크림"
                onclick="pick_key(); send();">
              <label for="cream-switch">
                <div class="all-nav-radio">크림축</div>
              </label>

              <input type="radio" id="coral-switch" name="key-switch" style="display: none;" value="코랄"
                onclick="pick_key(); send();">
              <label for="coral-switch">
                <div class="all-nav-radio">코랄축</div>
              </label>

              <input type="radio" id="silver-switch" name="key-switch" style="display: none;" value="은"
                onclick="pick_key(); send();">
              <label for="silver-switch">
                <div class="all-nav-radio">은축</div>
              </label>

              <input type="radio" id="silent-red-switch" name="key-switch" style="display: none;" value="저소음적축"
                onclick="pick_key(); send();">
              <label for="silent-red-switch">
                <div class="all-nav-radio">저소음적축</div>
              </label>
            </td>
          </tr>
          <th class="all-nav-blank">-</th>
          <td class="all-nav-radio">
            <input type="radio" id="topre" name="key-switch" style="display: none;" value="topre"
              onclick="pick_key(); send();">
            <label for="topre">
              <div class="all-nav-radio">무접점 토프레</div>
            </label>

            <input type="radio" id="noppoo" name="key-switch" style="display: none;" value="noppoo"
              onclick="pick_key(); send();">
            <label for="noppoo">
              <div class="all-nav-radio">무접점 노뿌</div>
            </label>

            <input type="radio" id="light-switch" name="key-switch" style="display: none;" value="광"
              onclick="pick_key(); send();">
            <label for="light-switch">
              <div class="all-nav-radio">무접점 광축</div>
            </label>
          </td>
          </tr>
          <tr>
            <th>블루투스</th>
            <td class="all-nav-radio">
              <input type="radio" id="wire" name="bluetooth" style="display: none;" value="유선"
                onclick="pick_bluetooth(); send();">
              <label for="wire">
                <div class="all-nav-radio">유선</div>
              </label>

              <input type="radio" id="wireless" name="bluetooth" style="display: none;" value="무선"
                onclick="pick_bluetooth(); send();">
              <label for="wireless">
                <div class="all-nav-radio">무선</div>
              </label>

              <input type="radio" id="wire-wireless" name="bluetooth" style="display: none;" value="유선+무선"
                onclick="pick_bluetooth(); send();">
              <label for="wire-wireless">
                <div class="all-nav-radio">유선 + 무선</div>
              </label>

            </td>
          </tr>
          <tr>
            <th>키압</th>
            <td class="all-nav-radio">

              <input type="radio" id="press-30" name="press" style="display: none;" value="1"
                onclick="pick_press(); send();">
              <label for="press-30">
                <div class="all-nav-radio">39g 이하</div>
              </label>

              <input type="radio" id="press-40" name="press" style="display: none;" value="2"
                onclick="pick_press(); send();">
              <label for="press-40">
                <div class="all-nav-radio">40g ~ 49g</div>
              </label>

              <input type="radio" id="press-50" name="press" style="display: none;" value="3"
                onclick="pick_press(); send();">
              <label for="press-50">
                <div class="all-nav-radio">50g 이상</div>
              </label>

            </td>
          </tr>
          <tr>
            <th>키 배열</th>
            <td class="all-nav-radio">
              <input type="radio" id="full-array" name="kind" style="display: none;" value="풀배열"
                onclick="pick_kind() ; send();">
              <label for="full-array">
                <div class="all-nav-radio">풀배열</div>
              </label>

              <input type="radio" id="tenkeyless" name="kind" style="display: none;" value="텐키리스"
                onclick="pick_kind(); send();">
              <label for="tenkeyless">
                <div class="all-nav-radio">텐키리스</div>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="all-nav-button">
        <img src="{% static 'images/all_nav_arrow.png' %}">
      </div>
    </div>
  </nav>
</div>

<div id="all-container">
  <div class="my-head">
    <h2>키보드 전체보기</h2>
    <hr>
    <p>모든 키보드를 보여드릴게요</p>
  </div>

  {% comment %} <!-- 검색창 -->
  <form class="trade-index-search-form">
    <input type="text" placeholder="키보드를 검색해보세요">
    <input type="submit" value="검색">
  </form> {% endcomment %}

  <!-- 검색창 -->
  <div class="trade-index-search-form">
    <input type="search" id="searching" onkeydown="if(event.keyCode == 13){searching(); send();}" placeholder="키보드를 검색해보세요" name="name" autocomplete="off">
    <input type="submit" onclick="searching(); send(); " value="검색">
  </div>

<h3 class="text-center fw-bold" style="margin-top: 100px; margin-bottom: 0;">BEST</h3>
<div id="card-section">
    <div class="all-card-container" id="card_div">
      {% for keyboard in all_keyboard|slice:":20" %}
      <a href="{% url 'articles:detail' keyboard.pk %}">
        <div class="all-card">
          <img src="{{ keyboard.img }}">
          <div class="all-card-h1-wrap">
            <h1>{{ keyboard.name }}</h1>
          </div>
          <div class="all-card-button">자세히 알아보기</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

<script type="text/javascript" src="/static/js/articles/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  let brand = 0
  let key = 0
  let bluetooth = 0
  let press = 0
  let kind = 0
  let name = 0
  let page = 1

  {% comment %} const searching = (e) => {
    console.log('검색시작')
    if (e.keyCode === 13) {
    console.log('엔터입력')
    name = document.querySelector('#searching').value;
    }
  }   {% endcomment %}
  const searching = (e) => {
    console.log('검색시작')
    name = document.querySelector('#searching').value;
    
  }  

  const pick_brand = (e) => {
    brand = document.querySelector('input[name="brand"]:checked').value;
  }

  const pick_key = (e) => {
    key = document.querySelector('input[name="key-switch"]:checked').value;
  }
  const pick_bluetooth = (e) => {
    bluetooth = document.querySelector('input[name="bluetooth"]:checked').value;
  }
  const pick_press = (e) => {
    press = document.querySelector('input[name="press"]:checked').value;
  }
  const pick_kind = (e) => {
    kind = document.querySelector('input[name="kind"]:checked').value;
  }
  const send = (e) => {
    page = 1
    axios({
      method: 'get',
      url: `/scroll_data/`,
      params: { 'brand': brand, 'name': name, 'key': key, 'bluetooth': bluetooth, 'press': press, 'kind': kind, 'page': page },
    })

      .then(response => {
        
        const card_div = document.querySelector('#card-section')
        card_div.textContent = "";
        
        const keyboards = response.data.keyboards
        let all_card_container = "";
        all_card_container += `<div class="all-card-container" id="card_div">`
        console.log('비워줌')
        for (let i = 0; i < keyboards.length; i++) {
          console.log(keyboards[i])
          all_card_container += `
          <a href="/${keyboards[i].pk}/detail">
              <div class="all-card">
                <img src="${keyboards[i].img}">
                <div class="all-card-h1-wrap">
                  <h1>${keyboards[i].name}</h1>
                </div>
                <div class="all-card-button">자세히 알아보기</div>
              </div>
            </a>`}
          all_card_container += `</div>`
          card_div.insertAdjacentHTML('beforeend', all_card_container)
          console.log('카드들어감')
      })
  };
  //스크롤 비동기
  window.onscroll = function () { // 스크롤비율이 80~90퍼 내려왔을 때 실행된다.

    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight*0.95) {
      console.log('시작?')
      axios({
        method: 'get',
        url: `/scroll_data/`,
        params: { 'brand': brand, 'name': name, 'key': key, 'bluetooth': bluetooth, 'press': press, 'kind': kind, 'page': page },
      })
      .then(response => {
        let scroll_div = ''
        const all_container = document.querySelector('#card-section')
        const keyboards = response.data.keyboards
        const random_ads = response.data.random_ads
        if (page > 2)  {
        console.log('광고시작')
        scroll_div += `
        <!-- 광고 -->
        <div class="ad-container">
          <div class="ad-card">
            <img src="${random_ads[0].image}">
            <div class="ad-card-context">
              <h1 class="ad-card-context-h1">${random_ads[0].name}</h1>
              <a href="${random_ads[0].url}" class="a-blue">바로 알아보기 ></a>
            </div>
          </div>
          <div class="ad-card">
            <img src="${random_ads[1].image}">
            <div class="ad-card-context">
              <h1 class="ad-card-context-h1">${random_ads[1].name}</h1>
              <a href="${random_ads[1].url}" class="a-blue">바로 알아보기 ></a>
            </div>
          </div>
        </div>
        `
        console.log('광고끝')
        scroll_div += `<div class="all-card-container" id="card_div">`
          for (let i = 0; i < keyboards.length; i++) {
            scroll_div += `
            <a href="/${keyboards[i].pk}/detail">
              <div class="all-card">
                <img src="${keyboards[i].img}">
                <div class="all-card-h1-wrap">
                  <h1>${keyboards[i].name}</h1>
                </div>
                <div class="all-card-button">자세히 알아보기</div>
              </div>
            </a> `
            }
            scroll_div += `</div>`
          }
          console.log('광고뒤카드')
          all_container.insertAdjacentHTML('beforeend',scroll_div)
          const ad_card = document.querySelectorAll('.ad-card')
          ad_card.forEach((card, index) => {
            card.addEventListener('mouseover', function() {
              this.querySelector('.ad-card-context').className = 'ad-card-context-hover'
            })
            card.addEventListener('mouseout', function() {
              this.querySelector('.ad-card-context-hover').className = 'ad-card-context'
            })
          })
      }); page = page + 1
    }
  }



</script>


{% endblock %}