{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="all-nav-container">
  <nav class="all-nav">
    <div class="all-nav-close">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
    </div>
  </nav>
</div>

<div class="p-3">=================</div>

<div class="all-nav-container">
  <nav class="all-nav">
    <div class="all-nav-open">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
      <table>
        <tbody>
          <tr>
            <th>브랜드</th>
            <td>
              <form 
              <label for="leo"><div>레오폴드</div></label>
              <input type="radio" id="leo" style="display: none;">
              <label for="abko"><div>앱코</div></label>
              <input type="radio" id="abko" style="display: none;">
              <label for="mstone"><div>엠스톤글로벌</div></label>
              <input type="radio" id="mstone" style="display: none;">
              <label for="cherry"><div>체리</div></label>
              <input type="radio" id="cherry" style="display: none;">
              <label for="logi"><div>로지텍</div></label>
              <input type="radio" id="logi" style="display: none;">
            </td>
          </tr>
          <tr>
            <th>축</th>
            <td></td>
          </tr>
          <tr>
            <th>키압</th>
            <td></td>
          </tr>
          <tr>
            <th>블루투스</th>
            <td></td>
          </tr>
          <tr>
            <th>키 배열</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </nav>
</div>
<script>

</script>
{% endblock %}