{% extends "kwbase/base.html" %}
{% load static %}
{% block body %}
  <article class="articles-main1">
    <div class="articles-main1-div">
      <h1>나에게 맞는 키보드를 찾아보세요</h1>
      <a href="#recommend" class="a-blue blue-tag">바로 알아보기></a>
    </div>
    <div class="articles-main1-img-div" style="background-image: url('{% static 'images/main.jpg' %}');"></div>
  </article>

  <article class="articles-main2">
    <div class="articles-main2-div text-center">
      <h1>키보드의 새 주인이 되어주세요!</h1>
      <a href="{% url 'trade:index'  %}" class="a-blue blue-tag">바로 알아보기></a>
    </div>
    <img src="{% static 'images/main_keyboard.png' %}" class="articles-main2-img">
  </article>

  <!-- <article class="articles-main3"> <div class="articles-main3-div"> <h1>키보드에 대해 궁금한 것이 많은가요?</h1> <a href="#recommend" class="a-blue">바로 알아보기></a> </div> </article> -->

  <!-- 캐러셀 -->
  <div class="index-tag-img-div swiper" id="slide">
    <div class="swiper-wrapper">
      <img src="{% static 'images/main_keyboard1.jpg' %}" class="swiper-img swiper-slide">
      <img src="{% static 'images/main_keyboard2.jpg' %}" class="swiper-img swiper-slide">
      <img src="{% static 'images/main_keyboard3.jpg' %}" class="swiper-img swiper-slide">
    </div>
    <div class="swiper-pagination"></div>
  </div>
  {% if user.is_authenticated %}
    <article id="recommend">
      <h1>키보드 워리어가 키보드를 추천해드려요</h1>
      <h2>▼</h2>
      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-img">
            <img src="{{items.0.img}}" class="sa sa-right">
          </div>
          <div class="recommend-box-comment sa sa-left" data-sa-delay="350">
            <h2>{{items.0.name}}</h2>
            <div>{{items.0.brand}}/
              {{items.0.connect}}/
              {{items.0.key_switch}}/
              {{items.0.weight}}g/
              {{items.0.array}}키</div>
            {% if items.0.id %}
              <a href="{% url 'articles:detail' items.0.id %}" class="a-blue">바로 알아보기></a>
            {% else %}
              <a href="{% url 'articles:all' %}" class="a-blue">바로 알아보기></a>
            {% endif %}
          </div>
        </section>
      </div>

      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-comment-2 sa sa-right" data-sa-delay="350">
            <h2>{{items.1.name}}</h2>
            <div>{{items.1.brand}}/
              {{items.1.connect}}/
              {{items.1.key_switch}}/
              {{items.1.weight}}g/
              {{items.1.array}}키</div>
            {% if items.1.id %}
              <a href="{% url 'articles:detail' items.1.id %}" class="a-blue">바로 알아보기></a>
            {% else %}
              <a href="{% url 'articles:all' %}" class="a-blue">바로 알아보기></a>
            {% endif %}
          </div>
          <div class="recommend-box-img-2">
            <img src="{{items.1.img}}" class="sa sa-left">
          </div>
        </section>
      </div>
      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-img">
            <img src="{{items.2.img}}" class="sa sa-right">
          </div>
          <div class="recommend-box-comment sa sa-left" data-sa-delay="350">
            <h2>{{items.2.name}}</h2>
            <div>{{items.2.brand}}/
              {{items.2.connect}}/
              {{items.2.key_switch}}/
              {{items.2.weight}}g/
              {{items.2.array}}키</div>
            {% if items.2.id %}
              <a href="{% url 'articles:detail' items.2.id %}" class="a-blue">바로 알아보기></a>
            {% else %}
              <a href="{% url 'articles:all' %}" class="a-blue">바로 알아보기></a>
            {% endif %}
          </div>
        </section>
      </div>
      <div class="recommend-finish-margin"></div>
    </article>
    {% else%}
    <article id="recommend">
      <h1>키보드 워리어가 키보드를 추천해드려요</h1>
      <h2>▼</h2>
      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-img">
            <img src="https://img.danawa.com/prod_img/500000/443/019/img/17019443_1.jpg?shrink=500:500&_v=20220510174807" class="sa sa-right">
          </div>
          <div class="recommend-box-comment sa sa-left" data-sa-delay="350">
            <h2>Ducky ONE 3 TKL Night Pink PBT 이중사출 한글 (갈축)</h2>
            <div>Ducky/ 기계식/ 체리/ 키압 55g/갈축/ 950g/ 87키/ 텐키리스/ 유선</div>
            <a href="http://keyboardwarriorbean-env.eba-uzmimep3.ap-northeast-2.elasticbeanstalk.com/2/detail/" class="a-blue blue-tag">바로 알아보기></a>
          </div>
        </section>
      </div>

      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-comment-2 sa sa-right" data-sa-delay="350">
            <h2>VARMILO MA108M Beijing Opera 염료승화 영문 (핑크축)</h2>
            <div>VARMILO/ 무접점(정전용량)/ 핑크축/ 키압 45g/ 1280g/ 108키</div>
            <a href="" class="a-blue blue-tag">바로 알아보기></a>
          </div>
          <div class="recommend-box-img-2">
            <img src="https://img.danawa.com/prod_img/500000/174/883/img/13883174_1.jpg?shrink=500:500&_v=20210415092316" class="sa sa-left">
          </div>
        </section>
      </div>
      <!-- here -->
      <div>
        <section class="recommend-box">
          <div class="recommend-box-img">
            <img src="https://img.danawa.com/prod_img/500000/716/264/img/18264716_1.jpg?shrink=500:500&_v=20221114140149" class="sa sa-right">
          </div>
          <div class="recommend-box-comment sa sa-left" data-sa-delay="350">
            <h2>엠스톤글로벌 Groove F 풀윤활 블루블랙 (저소음 코랄축, 38g)</h2>
            <div>엠스톤글로벌/ 기계식/ 저소음 코랄축/ 키압 38g/ 1029g/ 104키</div>
            <a href="http://keyboardwarriorbean-env.eba-uzmimep3.ap-northeast-2.elasticbeanstalk.com/182/detail/" class="a-blue">바로 알아보기></a>
          </div>
        </section>
      </div>
      <div class="recommend-finish-margin"></div>
    </article>
  {% endif %}
  <script type="text/javascript" src="{% static 'js/articles/main.js' %}"></script>
  <!-- 스와이퍼 캐러셀 -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    window.addEventListener('load', saFunc);
    window.addEventListener('scroll', saFunc);

    new Swiper('#slide', {
      auto_play: true,
      slidesPerView: 1, // 동시에 보여줄 슬라이드 갯수
      spaceBetween: 0, // 슬라이드간 간격
      slidesPerGroup: 1, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

      // 그룹수가 맞지 않을 경우 빈칸으로 메우기
      // 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
      loopFillGroupWithBlank: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      loop: true, // 무한 반복
      observer: true,
      observeParents: true,
      pagination: { // 페이징
        el: '.swiper-pagination',
        clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
      }
    });
  </script>
{% endblock body %}