{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>KeyboardWarrior</title>
  {% bootstrap_css %}
  <!-- JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static '/css/articles.css' %}">
  <link rel="stylesheet" href="{% static '/css/trade.css' %}">
  <link rel="stylesheet" href="{% static '/css/reviews.css' %}">
  <link rel="stylesheet" href="{% static '/css/accounts.css' %}">
  <link rel="stylesheet" href="{% static '/css/chat.css' %}">
  <link rel="shortcut icon" href="{% static 'images/android-chrome-512x512.png' %}">
</head>


<body>
  <!-- nav -->
  <nav class="my-nav kor-font">
    <div>
      <ul class="my-nav-ul">
        <div class="d-flex align-items-center">
          <a href="{% url 'articles:main' %}" class="d-flex align-items-center">
            <img src="{% static 'images/logo_png.png' %}" class="nav-logo">
            <p class="nav-logo-text">KeyboardWarrior</p>
          </a>
          {% if request.get_full_path == "/" %}
          <div class="all-today">
            <h5><i class="bi bi-people-fill"></i> {{all}}</h5>
            <h5><i class="bi bi-person-fill"></i> {{today}}</h5>
          </div>
          {% endif %}
        </div>
        <div class="my-nav-div">
          <div>
            <!-- url을 먼저 찾아가고 그 뒤에 #recommend를 찾아감 -->
            <a href="{% url 'articles:main' %}#recommend">
              <li class="my-nav-item">키보드 추천</li>
            </a>
            <a href="{% url 'articles:all' %}">
              <li class="my-nav-item">모든 키보드</li>
            </a>
            <a href="{% url 'trade:index'  %}">
              <li class="my-nav-item">키보드 마켓</li>
            </a>
            <a href="{% url 'reviews:index'  %}">
              <li class="my-nav-item">키보드 후기</li>
            </a>

          </div>
          <div>
            {% if request.user.is_authenticated %}
            <li class="my-nav-item" id="nav-window-btn">
              <a class="nav-profile" href="{% url 'accounts:detail' request.user.pk %}" style="color: white;">
                <div class="navv-profile">
                  {% if user.image %}
                    {% if not user.is_social %}
                      <img src="{{ request.user.image.url }}">
                    {% else %}
                      <img src="{{ request.user.image }}">
                    {% endif %}
                  {% else %}
                    <img src="{% static 'images/logo_png.png' %}">
                  {% endif %}
                  {% if request.user.first_name and request.user.last_name %}
                    <h1 style="margin-left: 8px;">{{ request.user.last_name }}{{ request.user.first_name }}</h1>
                  {% else %}
                    <h1>{{ request.user }}</h1>
                  {% endif %}
                </div>
                {% if count %}
                <div style="align-self:flex-start; width:8px; height:8px; border-radius: 50%; background-color: var(--my-red); margin-top:5px;"></div>
                {% endif %}
              </a>
              <div class="my-nav-window" id="nav-window">
                <div class="nav-profile-wrap">
                  <!-- 내 프로필사진 -->
                  <a class="nav-profile" href="{% url 'accounts:detail' request.user.pk %}">
                    {% if user.image %}
                    {% if not user.is_social %}
                    <img src="{{ request.user.image.url }}">
                    {% else %}
                    <img src="{{ request.user.image }}">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'images/logo_png.png' %}">
                    {% endif %}
                    <!-- 내 이름 -->
                    <div>
                      {% if request.user.first_name and request.user.last_name %}
                      <h1>{{ request.user.last_name }}{{ request.user.first_name }}<span>({{ request.user }})</span>
                      </h1>
                      {% else %}
                      <h1>{{ request.user }}</h1>
                      {% endif %}
                      <h2>{{ request.user.email }}</h2>
                    </div>
                  </a>
                  <a href="{% url 'chat:init_room' %}" class="nav-message">
                    <i class="bi bi-envelope" style="font-size: 20px;"></i>
                  </a>
                </div>
                <hr>
                {% if count == 0 %}
                  <div class="text-center d-flex justify-content-center align-items-center" style="height: 150px;">알림이 없습니다.</div>
                {% endif %}
                <div style="overflow: auto; height: 200px;">
                {% for n in request.user.notification_set.all %}
                  {% if n.check == False %}
                  <div>
                    <a href="{% url 'accounts:message' n.pk %}"> {{n.message}}</a>
                    <hr>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <!-- 여기 알림 뜨게 -->

              </div>
            </li>
            <a href="{% url 'accounts:logout' %}">
              <li class="my-nav-item">로그아웃</li>
            </a>
          </div>
          {% else %}
          
          <a href="{% url 'accounts:login' %}">
            <li class="my-nav-item">로그인</li>
          </a>
          {% endif %}
        </div>
    </div>
    </ul>
    </div>
  </nav>

  <div class="kor-font">
    {% block body %}{% endblock %}
  </div>
  <!-- 푸터 -->
  <footer>
    <div style="font-size: 14px; margin: 20px 0;">
      Copyright © 2022 World Class KeyboardWarrior All rights reserved.
    </div>
  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>