{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>base</title>
  {% bootstrap_css %}
  <!-- JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="{% static 'css/articles.css' %}">
  <link rel="stylesheet" href="{% static 'css/trade.css' %}">
  <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
  <!-- nav -->
  <nav class="my-nav kor-font">
    <div>
      <ul class="my-nav-ul">
        <div>
          <a href="{% url 'articles:main' %}" class="d-flex align-items-center">
            <img src="{% static 'images/logo_png.png' %}" class="nav-logo">
            <p class="nav-logo-text">KeyboardWarrior</p>
          </a>
        </div>
        <div class="my-nav-div">
          <div>
            <!-- url을 먼저 찾아가고 그 뒤에 #recommend를 찾아감 -->
            <a href="{% url 'articles:main' %}#recommend"><li class="my-nav-item">키보드 추천</li></a>
            <a href="{% url 'articles:all' %}"><li class="my-nav-item">모든 키보드</li></a>
            <a href="{% url 'trade:index'  %}"><li class="my-nav-item">키보드 마켓</li></a>
            <a href="{% url 'reviews:index'  %}"><li class="my-nav-item">키보드 후기</li></a>
          </div>
          <div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:detail' request.user.pk %}"><li class="my-nav-item">마이페이지</li></a>
            <a><li class="my-nav-item" id="nav-window-btn">내 정보<div class="my-nav-window"></div></li></a>
            <a href="{% url 'accounts:logout' %}"><li class="my-nav-item">로그아웃</li></a>
            {% else %}
            <a href="{% url 'accounts:signup' %}"><li class="my-nav-item">회원가입</li></a>
            <a href="{% url 'accounts:login' %}"><li class="my-nav-item">로그인</li></a>
            {% endif %}
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <div class="kor-font">
    {% block body %}
    {% endblock %}
  </div>
  <!-- 푸터 -->
  <footer>
    <div>Copyright © 2022 하승찬, 문재윤, 박선영, 유순일, 지현식 All rights reserved.</div>
  </footer>

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script>
  const button = document.querySelector('#nav-window-btn')
  button.addEventListener('mouseover', function(){

  })
</script>
</body>

</html>